.favorite-modal {
    .ant-modal-body {
        padding: 0;
        height: 572px;
    }
    .close-btn {
            position: absolute;
    top: 5px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    line-height: 24px;
    border: none;
    text-align: center;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    z-index: 110;
    cursor: pointer;
    font-size: 0;
    background: url(../../../images/lottery/button.png) -10px -514px no-repeat;
    &:hover {
        background-position: -45px -514px;
    }
    }
    .favorite-set-menu {
        width: 90px;
        height: 572px;
        border-right: 1px solid #282828;
        background-color: #3a3a3a;
        .icon-title {
            display: inline-block;
            width: 12px;
            height: 16px;
            margin: 0px 4px 0 0;
            background: url(../../../images/lottery/new_lottery_common.png) -10px -12px no-repeat;
            vertical-align: middle;
        }
    }

    .favorite-set-menu dt {
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 12px;
        color: #d3d3d3;
        border-bottom: 1px solid #282828;
    }

    .favorite-set-menu dd {
        position: relative;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: #fff;
        border-left: 3px solid transparent;
        border-bottom: 1px solid #282828;
        font-size: 12px;
    }

    #lotterySet {
        width: 796px;
        height: 572px;
        padding: 0 6px;
        background-color: #fff;
    }

    #lotterySet p {
        line-height: 40px;
        border-bottom: 1px dashed #959595;
        color: #212121;
        font-weight: 700;
    }

    #lotterySet>div {
        overflow: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #lotterySet .title {
        width: 80px;
        padding: 5px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 18px;
        color: #959595;
        font-weight: 700;
    }

    #lotterySet .content {
        width: 700px;
        padding: 5px 0;
        border-bottom: 1px dashed #d3d3d3;
    }

    #lotterySet .content.last {
        border-bottom: none;
    }

    #lotterySet .lotteryList {
        width: 110px;
        display: inline-block;
        height: 20px;
        margin: 10px 3px 10px 0;
    }

    .lotteryList>div {
        width: 24px;
        height: 12px;
        border-radius: 6px;
        position: relative;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        float: left;
        margin: 4px 1px 0 0;
        cursor: pointer;
    }

    .lotteryList>div>div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        background: #fff;
        transition: left 0.5s;
    }

    #lotterySet .open1 {
        background: rgba(0, 184, 0, 0.8);
        border: 1px solid rgba(0, 184, 0, 0.8);
    }

    #lotterySet .open2 {
        top: 0;
        left: 13px;
    }

    #lotterySet .close1 {
        background: #959595;
        border: 1px solid #959595;
    }

    #lotterySet .close2 {
        top: 0;
        left: 0;
    }

    .lotterySetting {
        background-color: #3a3a3a;
    }

    .lotterySetting h3 {
        font-size: 14px;
        color: #858585;
        font-weight: 400;
    }

    .saveLottery {
        width: 120px;
        height: 32px;
        padding: 0;
        margin: 10px auto;
        border: none;
        border-radius: 4px;
        text-align: center;
        line-height: 30px;
        background: url('../../../images/lottery/button.png') no-repeat -2px -422px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
    }

    #lotterySet .saveLottery {
        display: block;
        text-align: center;
    }

    .saveLottery:hover {
        background-position: -154px -422px;
    }

    .saveLottery:active {
        background-position: -307px -422px;
    }
}