#event .inner {
    width: 1200px;
    margin: 0 auto;
    pointer-events: none
}

#event .event-banner {
    width: 100%;
    height: 513px;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 1;
    left: 0;
    background: url(../../images/vipEvent/bg.png) 100% 100% no-repeat;
    background-size: cover;
    pointer-events: none
}

#event .event-content {
    width: 100%;
    position: relative;
    top: -99px;
    z-index: 0;
    margin-bottom: -99px
}

#event .event-content li {
    height: 260px
}

#event .event-new {
    background: url(../../images/vipEvent/event5.png) center center no-repeat #130e23
}

#event .event-6 {
    background: url(../../images/vipEvent/event4.png) center center no-repeat #130e23
}

#event .event-5 {
    background: url(../../images/vipEvent/event3.png) center center no-repeat #130e23
}

#event .event-4 {
    background: url(../../images/vipEvent/event4.png) center center no-repeat #130e23
}

#event .event-3 {
    background: url(../../images/vipEvent/event3.png) center center no-repeat #130e23
}

#event .event-2 {
    background: url(../../images/vipEvent/event2.png) center center no-repeat #130e23
}

#event .event-1 {
    background: url(../../images/vipEvent/event1.png) center center no-repeat #130e23
}

#event .event-content li .inner {
    padding-right: 115px
}

#event .event-content li .title {
    padding-top: 100px
}

#event .event-content li .title a {
    display: block;
    pointer-events: auto
}

#event .event-content li .title h2 {
    font-size: 30px;
    text-align: right;
    background-image: linear-gradient(to bottom, #ae865f, #8c6449);
    background-clip: text;
    -webkit-text-fill-color: orange
}

#event .event-content li .title i {
    display: inline-block;
    width: 50px;
    height: 27px;
    background: url(../../images/vipEvent/vip.png) center center no-repeat;
    margin-right: 5px;
    vertical-align: middle
}

#event .event-content li .title p {
    font-size: 24px;
    color: #89541b;
    text-align: right;
    font-weight: lighter
}

#event .event-content li .detail a {
    display: inline-block;
    width: 621px;
    height: 252px;
    padding: 31px 31px;
    background: url(../../images/vipEvent/rect.png) center center no-repeat;
    pointer-events: auto
}

#event .event-content li.event-new .detail a {
    width: auto;
    height: 260px;
    padding: 0;
    background: 0 0;
    cursor: default
}