.activity-detail-wrapper {
    background-color: #f1f1f1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    margin: 28px auto 20px auto;
    width: 1200px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;

    .count-down-wrapper {
        font-size: 13px;
    }

    .count-down-day {
        font-size: 18px;
        color: #867fad;
    }

    .count-down-time {
        background: #fff;
        text-shadow: 0 1px 2px #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #555;
    }
}