.input-number-updown-wrapper {
    .input-number-updown {
        width: 96px;
        text-align: center;
    }
    .ant-input-group-addon {
        padding: 0;
        width: 20px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none !important; 
    }
    /* chrome */
 
    input[type="number"]{
      -moz-appearance:textfield;/* firefox */
    }

}