.record-wrapper {
    width: 794px;

    .record-item {
        cursor: pointer;
    }

    .record-table-wrapper {
        overflow: hidden;
        max-height: 400px;
        transition: all 0.5s ease-in-out;

        &.hide {
            max-height: 72px;
        }
    }

    .ant-table-title {
        padding: 0;
    }

    .ant-table-thead > tr > th {
        padding: 10px;
        white-space: nowrap;
    }

    .ant-table-tbody > tr > td {
        padding: 12px;
        white-space: nowrap;
    }

    .record-title-wrapper {
        position: relative;
        height: 32px;
        line-height: 32px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #e0e6ed;

        .record-title {
            margin: 0 10px;
            color: #333;
            font-size: 14px;
            font-weight: 700;

            .record-title-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                margin-right: 4px;
                background: url('../../images/lottery/new_lottery_common.png') -10px -123px no-repeat;
                vertical-align: middle;
            }
        }

        .hide-record {
            width: 66px;
            height: 22px;
            line-height: 22px;
            position: absolute;
            right: 25px;
            top: 0;
            background-color: #fff;
            text-align: center;
            border-radius: 0 0 2px 2px;
            cursor: pointer;
            font-size: 12px;
            color: #999;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .record-item-code {
        width: 80px;
    }

    .order-again, .order-cancel {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        border-radius: 6px;
        text-align: center;
        background: url('../../images/lottery/button.png') no-repeat;
        color: #fff;
        cursor: pointer;
    }

    .order-again {
        width: 66px;
        background-position: 0 -590px;

        &:hover {
            background-position: -74px -590px;
        }

        &:active {
            background-position: -148px -590px;
        }
    }

    .order-cancel {
        width: 46px;
        margin-left: 6px;
        background-position: 0 -630px;

        &:hover {
            background-position: -74px -630px;
        }

        &:active {
            background-position: -148px -630px;
        }
    }
}

.record-detail-wrapper {
    table {
        border-collapse: collapse;
        border-spacing: 0;

        .record-row {
            cursor: pointer;
        }

        th {
            background: #ededed;
            width: 122px;
            line-height: 30px;
            padding: 0 5px 0 5px;
            text-align: right;
            white-space: nowrap;
        }

        td {
            border: 1px solid #ededed;
            position: relative;
            line-height: 30px;
            padding-left: 10px;
        }

        .order-cancel {
            width: 46px;
            margin-left: 6px;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            border-radius: 6px;
            text-align: center;
            background: url('../../images/lottery/button.png') no-repeat;
            color: #fff;
            cursor: pointer;
            background-position: 0 -630px;

            &:hover {
                background-position: -74px -630px;
            }

            &:active {
                background-position: -148px -630px;
            }
        }

        .trace-view {
            color: #ff5243;
            text-decoration: underline;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

.trace-detail-wrapper {
    .back-bet-modal {
        font-size: 13px;
        font-weight: 400;
        text-decoration: underline;
        color: #f60;
        margin-left: 10px;
        cursor: pointer;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;

        th, td {
            border: 1px solid #ededed;
            position: relative;
            line-height: 30px;
            padding-left: 10px;
            vertical-align: top;
            white-space: nowrap;
        }

        .fixtrace {
            width: 385px;
            border-left: 2px solid #aaa;
            padding-left: 0;
        }

        ul.traceInner {
            min-height: 413px;
        }

        ul.traceInner li.traceHead {
            border-top: 0;
            background: #ededed;
        }

        ul.traceInner li {
            vertical-align: top;
            margin: 0;
            padding: 0;
            display: block;
            height: 30px;
            border-bottom: #d7d7d7 1px solid;
        }

        ul.traceInner li > span, ul.traceInner li > em {
            display: block;
            float: left;
            text-align: center;
            width: 155px;
            text-indent: 0;
        }

        ul.traceInner li input {
            float: left;
            cursor: pointer;
            margin-top: 9px;
            margin-left: 15px;
        }

        ul.traceInner li em {
            width: 75px;
            border-left: 1px solid #d7d7d7;
        }

        div.popdetails-page {
            height: 45px;
            display: block;
        }

        .popdetails-page {
            padding: 10px 0;
            text-align: center;
            display: none;
        }

        div.cancelTrace a.disabled {
            background-color: #ccc;
            color: #999;
            cursor: default;
        }

        div.cancelTrace a {
            background: #ff5243;
            width: 100px;
            height: 32px;
            font-size: 16px;
            float: right;
            line-height: 32px;
            cursor: pointer;
            color: #fff;
            text-align: center;
            text-indent: 0;
        }

        .traceHead .checkbox-wrapper {
            left: -40px;
        }

        .checkbox-wrapper {
            position: relative;
            bottom: 2px;
            left: -10px;
        }
    }
}