@import './special.styl';

.lottery-head-wrapper {
    width: 1100px;
    background-color: #fff;
    height: 78px;

    .head-left {
        width: 300px;
        height: 100%;
        line-height: 78px;

        .lottery-logo {
            display: inline-block;
            width: 239px;
            height: 60px;
            margin-left: 10px;
            background: url('../../images/lottery/lottery_logo.png') -300px -300px no-repeat;
            vertical-align: middle;
        }

        .lottery-logo[lt=rdffc] {
            background-position: 0 0;
        }

        .lottery-logo[lt=rdlfc] {
            background-position: 0 -61px;
        }

        .lottery-logo[lt=rbssm] {
            background-position: 0 -122px;
        }

        .lottery-logo[lt=wbgmmc] {
            background-position: 0 -183px;
        }

        .lottery-logo[lt=wbgffc] {
            background-position: 0 -244px;
        }

        .lottery-logo[lt=wbg5fc] {
            background-position: 0 -305px;
        }

        .lottery-logo[lt=cqssc] {
            background-position: 0 -366px;
        }

        .lottery-logo[lt=tjssc] {
            background-position: 0 -427px;
        }

        .lottery-logo[lt=xjssc] {
            background-position: 0 -488px;
        }

        .lottery-logo[lt=xn5fc] {
            background-position: 0 -549px;
        }

        .lottery-logo[lt=bj5fc] {
            background-position: 0 -610px;
        }

        .lottery-logo[lt=tw5fc] {
            background-position: 0 -671px;
        }

        .lottery-logo[lt=hn5fc] {
            background-position: 0 -732px;
        }

        .lottery-logo[lt=qqssm] {
            background-position: 0 -793px;
        }

        .lottery-logo[lt=txffc] {
            background-position: 0 -854px;
        }

        .lottery-logo[lt=tx1fc] {
            background-position: 0 -915px;
        }

        .lottery-logo[lt=mc11y] {
            background-position: 0 -976px;
        }

        .lottery-logo[lt=gd11y] {
            background-position: 0 -1037px;
        }

        .lottery-logo[lt=sd11y] {
            background-position: 0 -1098px;
        }

        .lottery-logo[lt=jx11y] {
            background-position: 0 -1159px;
        }

        .lottery-logo[lt=sh11y] {
            background-position: 0 -1220px;
        }

        .lottery-logo[lt=ah11y] {
            background-position: 0 -1281px;
        }

        .lottery-logo[lt=hlj11y] {
            background-position: 0 -1342px;
        }

        .lottery-logo[lt=yn11y] {
            background-position: 0 -1403px;
        }

        .lottery-logo[lt=hub11y] {
            background-position: 0 -1464px;
        }

        .lottery-logo[lt=mcpk10] {
            background-position: 0 -1525px;
        }

        .lottery-logo[lt=bjpk10] {
            background-position: 0 -1586px;
        }

        .lottery-logo[lt=xgpk10] {
            background-position: 0 -1647px;
        }

        .lottery-logo[lt=mck3] {
            background-position: 0 -1708px;
        }

        .lottery-logo[lt=jsk3] {
            background-position: 0 -1769px;
        }

        .lottery-logo[lt=hnk3] {
            background-position: 0 -1830px;
        }

        .lottery-logo[lt=hbk3] {
            background-position: 0 -1891px;
        }

        .lottery-logo[lt=jlk3] {
            background-position: 0 -1952px;
        }

        .lottery-logo[lt=ahk3] {
            background-position: 0 -2013px;
        }

        .lottery-logo[lt=mc3d] {
            background-position: 0 -2074px;
        }

        .lottery-logo[lt=shssl] {
            background-position: 0 -2135px;
        }

        .lottery-logo[lt='3dfc'] {
            background-position: 0 -2196px;
        }

        .lottery-logo[lt=tcp3] {
            background-position: 0 -2257px;
        }

        .lottery-logo[lt=tcp5] {
            background-position: 0 -2318px;
        }

        .lottery-logo[lt=sckl12] {
            background-position: 0 -2379px;
        }

        .lottery-logo[lt=hnky481] {
            background-position: 0 -2440px;
        }

        .lottery-logo[lt=jslhc] {
            background-position: 0 -2501px;
        }
    }

    .head-center {
        width: 320px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .head-center-issue, .head-center-clock {
            height: 46px;
        }

        .head-center-clock {
            line-height: 46px;
            font-size: 0;
            background-color: #fff;
            color: #444;
            border-radius: 4px;
            box-shadow: inset 0 0 4px 0 rgba(82, 82, 82, 0.4);

            .issue-countdown {
                padding: 0 10px;
            }

            .count-down-hours, .count-down-minutes, .count-down-seconds {
                display: inline-block;
                width: 42px;
                height: 46px;
                line-height: 46px;
                text-align: center;
                font-size: 34px;
                font-weight: 700;
            }

            .count-down-symbol {
                display: inline-block;
                color: #999;
                font-size: 32px;
                position: relative;
                bottom: 4px;
                text-align: center;
                width: 16px;
            }
        }

        .head-center-issue {
            text-align: right;
            font-size: 12px;
            color: #696969;
        }

        .head-center-issue-top, .head-center-issue-bottom {
            height: 23px;
            line-height: @height;
        }

        .current-issue {
            margin: 0 4px;
            color: #e72629;
            font-size: 12px;
        }
    }

    .head-right {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .head-right-issue-top, .head-right-issue-bottom {
            height: 23px;
            line-height: @height;
        }

        .open-issue {
            margin: 0 4px;
            color: #e72629;
            font-size: 12px;
        }

        .head-right-opencode {
            font-size: 0;
            height: 46px;
            margin-left: 20px;
            text-align: right;

            .opencode {
                display: inline-block;
                width: 46px;
                height: 46px;
                line-height: 46px;
                margin-right: 10px;
                border-radius: 50%;
                background-image: linear-gradient(-180deg, #f32b31 0, #be130e 100%);
                color: #fff;
                text-align: center;
                vertical-align: top;
                font-size: 28px;
                font-weight: 700;
            }

            .opencode[lotteryType=k3][code='1'] {
                background: url('/static/lottery/images/svg/shai1.svg') center no-repeat;
                background-size: cover;
                border-radius: 0;
            }

            .opencode[lotteryType=k3][code='2'] {
                background: url('/static/lottery/images/svg/shai2.svg') center no-repeat;
                background-size: cover;
                border-radius: 0;
            }

            .opencode[lotteryType=k3][code='3'] {
                background: url('/static/lottery/images/svg/shai3.svg') center no-repeat;
                background-size: cover;
                border-radius: 0;
            }

            .opencode[lotteryType=k3][code='4'] {
                background: url('/static/lottery/images/svg/shai4.svg') center no-repeat;
                background-size: cover;
                border-radius: 0;
            }

            .opencode[lotteryType=k3][code='5'] {
                background: url('/static/lottery/images/svg/shai5.svg') center no-repeat;
                background-size: cover;
                border-radius: 0;
            }

            .opencode[lotteryType=k3][code='6'] {
                background: url('/static/lottery/images/svg/shai6.svg') center no-repeat;
                background-size: cover;
                border-radius: 0;
            }

            .opencode[lotteryCode=bjpk10] {
                width: 54px;
                height: 21px;
                border-radius: 0;
                margin-right: 8px;
                animation-duration: 0.5s;
            }

            .opencode[lotteryCode=xgpk10] {
                width: 30px;
                height: 24px;
                margin: 5px 20px 0 10px;
                background: url('/static/lottery/images/horse.png') no-repeat;
                border-radius: 0;
            }

            .opencode[lotteryCode=mcpk10][code='01'] {
            }

            .opencode[lotteryCode=mcpk10][code='01'] {
                background-position: 0 0;
            }

            .opencode[lotteryCode=mcpk10][code='02'] {
                background-position: -44px 0;
            }

            .opencode[lotteryCode=mcpk10][code='03'] {
                background-position: -86px 0;
            }

            .opencode[lotteryCode=mcpk10][code='04'] {
                background-position: -128px 0;
            }

            .opencode[lotteryCode=mcpk10][code='05'] {
                background-position: -168px 0;
            }

            .opencode[lotteryCode=mcpk10][code='06'] {
                background-position: 0 -43px;
            }

            .opencode[lotteryCode=mcpk10][code='07'] {
                background-position: -44px -43px;
            }

            .opencode[lotteryCode=mcpk10][code='08'] {
                background-position: -86px -43px;
            }

            .opencode[lotteryCode=mcpk10][code='09'] {
                background-position: -128px -43px;
            }

            .opencode[lotteryCode=mcpk10][code='10'] {
                background-position: -168px -43px;
            }

            .opencode[lotteryType=lhc] {
                width: 36px;
                height: 36px;
                line-height: 36px;
                margin-right: 8px;
                font-size: 14px;
            }

            .opencode[lotteryType=lhc][code="01"], .opencode[lotteryType=lhc][code="02"], .opencode[lotteryType=lhc][code="07"], .opencode[lotteryType=lhc][code="08"], .opencode[lotteryType=lhc][code="12"], .opencode[lotteryType=lhc][code="13"], .opencode[lotteryType=lhc][code="18"], .opencode[lotteryType=lhc][code="19"], .opencode[lotteryType=lhc][code="23"], .opencode[lotteryType=lhc][code="24"], .opencode[lotteryType=lhc][code="29"], .opencode[lotteryType=lhc][code="30"], .opencode[lotteryType=lhc][code="34"], .opencode[lotteryType=lhc][code="35"], .opencode[lotteryType=lhc][code="40"], .opencode[lotteryType=lhc][code="45"], .opencode[lotteryType=lhc][code="46"] {
                background: url('/static/lottery/images/lhc/kjq_red.png') center no-repeat;
                background-size: cover;
                color: #ef4f4f;
            }

            .opencode.tm[lotteryType=lhc][code="01"], .opencode.tm[lotteryType=lhc][code="02"], .opencode.tm[lotteryType=lhc][code="07"], .opencode.tm[lotteryType=lhc][code="08"], .opencode.tm[lotteryType=lhc][code="12"], .opencode.tm[lotteryType=lhc][code="13"], .opencode.tm[lotteryType=lhc][code="18"], .opencode.tm[lotteryType=lhc][code="19"], .opencode.tm[lotteryType=lhc][code="23"], .opencode.tm[lotteryType=lhc][code="24"], .opencode.tm[lotteryType=lhc][code="29"], .opencode.tm[lotteryType=lhc][code="30"], .opencode.tm[lotteryType=lhc][code="34"], .opencode.tm[lotteryType=lhc][code="35"], .opencode.tm[lotteryType=lhc][code="40"], .opencode.tm[lotteryType=lhc][code="45"], .opencode.tm[lotteryType=lhc][code="46"] {
                background: url('/static/lottery/images/lhc/tm_red.png') center no-repeat;
                background-size: cover;
            }

            .opencode[lotteryType=lhc][code="03"], .opencode[lotteryType=lhc][code="04"], .opencode[lotteryType=lhc][code="09"], .opencode[lotteryType=lhc][code="10"], .opencode[lotteryType=lhc][code="14"], .opencode[lotteryType=lhc][code="15"], .opencode[lotteryType=lhc][code="20"], .opencode[lotteryType=lhc][code="25"], .opencode[lotteryType=lhc][code="26"], .opencode[lotteryType=lhc][code="31"], .opencode[lotteryType=lhc][code="36"], .opencode[lotteryType=lhc][code="37"], .opencode[lotteryType=lhc][code="41"], .opencode[lotteryType=lhc][code="42"], .opencode[lotteryType=lhc][code="47"], .opencode[lotteryType=lhc][code="48"] {
                background: url('/static/lottery/images/lhc/kjq_blue.png') center no-repeat;
                background-size: cover;
                color: #026ce7;
            }

            .opencode.tm[lotteryType=lhc][code="03"], .opencode.tm[lotteryType=lhc][code="04"], .opencode.tm[lotteryType=lhc][code="09"], .opencode.tm[lotteryType=lhc][code="10"], .opencode.tm[lotteryType=lhc][code="14"], .opencode.tm[lotteryType=lhc][code="15"], .opencode.tm[lotteryType=lhc][code="20"], .opencode.tm[lotteryType=lhc][code="25"], .opencode.tm[lotteryType=lhc][code="26"], .opencode.tm[lotteryType=lhc][code="31"], .opencode.tm[lotteryType=lhc][code="36"], .opencode.tm[lotteryType=lhc][code="37"], .opencode.tm[lotteryType=lhc][code="41"], .opencode.tm[lotteryType=lhc][code="42"], .opencode.tm[lotteryType=lhc][code="47"], .opencode.tm[lotteryType=lhc][code="48"] {
                background: url('/static/lottery/images/lhc/tm_blue.png') center no-repeat;
                background-size: cover;
            }

            .opencode[lotteryType=lhc][code="05"], .opencode[lotteryType=lhc][code="06"], .opencode[lotteryType=lhc][code="11"], .opencode[lotteryType=lhc][code="16"], .opencode[lotteryType=lhc][code="17"], .opencode[lotteryType=lhc][code="21"], .opencode[lotteryType=lhc][code="22"], .opencode[lotteryType=lhc][code="27"], .opencode[lotteryType=lhc][code="28"], .opencode[lotteryType=lhc][code="32"], .opencode[lotteryType=lhc][code="33"], .opencode[lotteryType=lhc][code="38"], .opencode[lotteryType=lhc][code="39"], .opencode[lotteryType=lhc][code="43"], .opencode[lotteryType=lhc][code="44"], .opencode[lotteryType=lhc][code="49"] {
                background: url('/static/lottery/images/lhc/kjq_green.png') center no-repeat;
                background-size: cover;
                color: #12906a;
            }

            .opencode.tm[lotteryType=lhc][code="05"], .opencode.tm[lotteryType=lhc][code="06"], .opencode.tm[lotteryType=lhc][code="11"], .opencode.tm[lotteryType=lhc][code="16"], .opencode.tm[lotteryType=lhc][code="17"], .opencode.tm[lotteryType=lhc][code="21"], .opencode.tm[lotteryType=lhc][code="22"], .opencode.tm[lotteryType=lhc][code="27"], .opencode.tm[lotteryType=lhc][code="28"], .opencode.tm[lotteryType=lhc][code="32"], .opencode.tm[lotteryType=lhc][code="33"], .opencode.tm[lotteryType=lhc][code="38"], .opencode.tm[lotteryType=lhc][code="39"], .opencode.tm[lotteryType=lhc][code="43"], .opencode.tm[lotteryType=lhc][code="44"], .opencode.tm[lotteryType=lhc][code="49"] {
                background: url('/static/lottery/images/lhc/tm_green.png') center no-repeat;
                background-size: cover;
            }
        }
    }
}