.lottery-wrapper {
    min-height: 800px;
    background: #242d47;
    padding-top: 36px;
}

.lottery-inner-wrapper {
    width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    .main-content-left {
        width: 800px;
        border-right: 6px solid #eee;
    }
}