.lottery-head-wrapper {
    width: 100%;
    background-color: #fff;

    .head-left {
        width: 300px;
        height: 78px;
        line-height: 78px;

        .lottery-logo {
            display: inline-block;
            width: 239px;
            height: 60px;
            margin-left: 10px;
            background: url('../../images/lottery/lottery_logo.png') -300px -300px no-repeat;
            vertical-align: middle;
        }

        .lottery-logo[lt=rdffc] {
            background-position: 0 0;
        }

        .lottery-logo[lt=rdlfc] {
            background-position: 0 -61px;
        }

        .lottery-logo[lt=rbssm] {
            background-position: 0 -122px;
        }

        .lottery-logo[lt=wbgmmc] {
            background-position: 0 -183px;
        }

        .lottery-logo[lt=wbgffc] {
            background-position: 0 -244px;
        }

        .lottery-logo[lt=wbg5fc] {
            background-position: 0 -305px;
        }

        .lottery-logo[lt=cqssc] {
            background-position: 0 -366px;
        }

        .lottery-logo[lt=tjssc] {
            background-position: 0 -427px;
        }

        .lottery-logo[lt=xjssc] {
            background-position: 0 -488px;
        }

        .lottery-logo[lt=xn5fc] {
            background-position: 0 -549px;
        }

        .lottery-logo[lt=bj5fc] {
            background-position: 0 -610px;
        }

        .lottery-logo[lt=tw5fc] {
            background-position: 0 -671px;
        }

        .lottery-logo[lt=hn5fc] {
            background-position: 0 -732px;
        }

        .lottery-logo[lt=qqssm] {
            background-position: 0 -793px;
        }

        .lottery-logo[lt=txffc] {
            background-position: 0 -854px;
        }

        .lottery-logo[lt=tx1fc] {
            background-position: 0 -915px;
        }

        .lottery-logo[lt=mc11y] {
            background-position: 0 -976px;
        }

        .lottery-logo[lt=gd11y] {
            background-position: 0 -1037px;
        }

        .lottery-logo[lt=sd11y] {
            background-position: 0 -1098px;
        }

        .lottery-logo[lt=jx11y] {
            background-position: 0 -1159px;
        }

        .lottery-logo[lt=sh11y] {
            background-position: 0 -1220px;
        }

        .lottery-logo[lt=ah11y] {
            background-position: 0 -1281px;
        }

        .lottery-logo[lt=hlj11y] {
            background-position: 0 -1342px;
        }

        .lottery-logo[lt=yn11y] {
            background-position: 0 -1403px;
        }

        .lottery-logo[lt=hub11y] {
            background-position: 0 -1464px;
        }

        .lottery-logo[lt=mcpk10] {
            background-position: 0 -1525px;
        }

        .lottery-logo[lt=bjpk10] {
            background-position: 0 -1586px;
        }

        .lottery-logo[lt=xgpk10] {
            background-position: 0 -1647px;
        }

        .lottery-logo[lt=mck3] {
            background-position: 0 -1708px;
        }

        .lottery-logo[lt=jsk3] {
            background-position: 0 -1769px;
        }

        .lottery-logo[lt=hnk3] {
            background-position: 0 -1830px;
        }

        .lottery-logo[lt=hbk3] {
            background-position: 0 -1891px;
        }

        .lottery-logo[lt=jlk3] {
            background-position: 0 -1952px;
        }

        .lottery-logo[lt=ahk3] {
            background-position: 0 -2013px;
        }

        .lottery-logo[lt=mc3d] {
            background-position: 0 -2074px;
        }

        .lottery-logo[lt=shssl] {
            background-position: 0 -2135px;
        }

        .lottery-logo[lt='3dfc'] {
            background-position: 0 -2196px;
        }

        .lottery-logo[lt=tcp3] {
            background-position: 0 -2257px;
        }

        .lottery-logo[lt=tcp5] {
            background-position: 0 -2318px;
        }

        .lottery-logo[lt=sckl12] {
            background-position: 0 -2379px;
        }

        .lottery-logo[lt=hnky481] {
            background-position: 0 -2440px;
        }

        .lottery-logo[lt=jslhc] {
            background-position: 0 -2501px;
        }
    }

    .head-center {
        width: 320px;

        .head-center-inner {
            height: 78px;
            line-height: 78px;
            margin: 0 auto;
            font-size: 0;
        }

        .head-center-issue, .head-center-clock {
            display: inline-block;
            height: 46px;
        }

        .head-center-clock {
            line-height: 46px;
            font-size: 0;
            background-color: #fff;
            position: relative;
            color: #444;
            border-radius: 4px;
            box-shadow: inset 0 0 4px 0 rgba(82, 82, 82, 0.4);

            .count-down-hours, .count-down-minutes, .count-down-seconds {
                display: inline-block;
                width: 63px;
                height: 46px;
                text-align: center;
                font-size: 34px;
                font-weight: 700;
            }

            .count-down-symbol {
                display: inline-block;
                color: #999;
                font-size: 32px;
                width: 16px;
            }
        }

        .head-center-issue {
            text-align: right;
            font-size: 12px;
            color: #696969;
        }

        .head-center-issue-top, .head-center-issue-bottom {
            height: 50%;
            line-height: 100%;
        }

        .current-issue {
            margin: 0 4px;
            color: #e72629;
            font-size: 12px;
        }
    }

    .head-right {
        height: 78px;
        line-height: 78px;

        .head-right-issue, .head-right-opencode {
            height: 46px;
            text-align: right;
        }

        .head-right-issue-top, .head-right-issue-bottom {
            height: 50%;
            line-height: 100%;
        }

        .open-issue {
            margin: 0 4px;
            color: #e72629;
            font-size: 12px;
        }

        .head-right-opencode {
            font-size: 0;

            .opencode {
                display: inline-block;
                width: 46px;
                height: 46px;
                line-height: 46px;
                margin-right: 10px;
                border-radius: 50%;
                background-image: linear-gradient(-180deg, #f32b31 0, #be130e 100%);
                color: #fff;
                text-align: center;
                font-size: 28px;
                font-weight: 700;
            }
        }
    }
}