.record-table-wrapper {
    width: 794px;

    .ant-table-title {
        padding: 0;
    }

    .ant-table-thead > tr > th {
        padding: 10px;
        white-space: nowrap;
    }

    .ant-table-tbody > tr > td {
        padding: 12px;
        white-space: nowrap;
    }

    .record-title-wrapper {
        position: relative;
        height: 32px;
        line-height: 32px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #e0e6ed;

        .record-title {
            margin: 0 10px;
            color: #333;
            font-size: 14px;
            font-weight: 700;

            .record-title-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                margin-right: 4px;
                background: url('../../images/lottery/new_lottery_common.png') -10px -123px no-repeat;
                vertical-align: middle;
            }
        }

        .hide-record {
            width: 66px;
            height: 22px;
            line-height: 22px;
            position: absolute;
            right: 25px;
            top: 0;
            background-color: #fff;
            text-align: center;
            border-radius: 0 0 2px 2px;
            cursor: pointer;
            font-size: 12px;
            color: #999;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .record-item-code {
        width: 80px;
    }

    .order-again, .order-cancel {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        border-radius: 6px;
        text-align: center;
        background: url('../../images/lottery/button.png') no-repeat;
        color: #fff;
        cursor: pointer;
    }

    .order-again {
        width: 66px;
        background-position: 0 -590px;

        &:hover {
            background-position: -74px -590px;
        }

        &:active {
            background-position: -148px -590px;
        }
    }

    .order-cancel {
        width: 46px;
        margin-left: 6px;
        background-position: 0 -630px;

        &:hover {
            background-position: -74px -630px;
        }

        &:active {
            background-position: -148px -630px;
        }
    }
}

.record-detail-wrapper {
    table {
        border-collapse: collapse;
        border-spacing: 0;

        .record-row {
            cursor: pointer;
        }

        th {
            background: #ededed;
            width: 122px;
            line-height: 30px;
            padding: 0 5px 0 5px;
            text-align: right;
            white-space: nowrap;
        }

        td {
            border: 1px solid #ededed;
            position: relative;
            line-height: 30px;
            padding-left: 10px;
        }
    }
}