.trend-wrapper {
    width: 300px;
    .ant-table-title {
    padding: 0;
    border-radius: 0;
        border-bottom: 1px solid #e0e6ed;
    }
    .ant-table-title + .ant-table-content {
       border-radius: 0;
    }
    .history-trend-title {
    height: 36px;
    line-height: 36px;
    padding: 0 12px 0 9px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e6ed;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 0 0 0 16px;
    }
.trend-head-col,.trend-codes {
   display:block;
   height: 36px;
   line-height:36px;
}
.history-trend-title-left {
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.history-trend-title-right {
    font-size: 12px;
    color: #666;
    .icon-trend {
    display: inline-block;
    width: 14px;
    height: 15px;
    margin-right: 4px;
    background: url(../../images/lottery/new_lottery_common.png) -32px -14px no-repeat;
    vertical-align: text-bottom;
}
}
}