.mmc-loop-wrapper {
    background: url('../../../../images/lottery/themeMMC.png') no-repeat;
    height: 70px;
    width: 390px;
    padding: 9px 18px;

    .loop-num {
        width: 70px;
        background: url('../../../../images/lottery/mmc-nums.png') repeat-y -66px 0;
        overflow: hidden;
        height: 50px;

        &.active {
            background-position: 0 0;
        }
    }
}