.daily-report-view {
    .search-wp {
        padding: 0 25px;
        background: #fff;
        > div {
            padding: 20px 0;
            border-bottom: 1px dashed #E9E9E9;
        }
    }
    .breadcrumb-wp {
        padding: 20px 25px;
        background: #fff;
    }
    .warm-tip {
        
    }
    .tab-nav {
        padding: 0 10px;
        height: 50px;
    }
    .team-report-ctx {
        padding: 10px;
    }
    .ipt-name {
        width: 272px;
    }
    .width-190 {
        width: 190px;    
    }
    .pd-l-25 {
        padding-left: 25px;
    }
    .pd-r-25 {
        padding-right: 25px;
    }
    .search-name-wp {
        padding: 0 0 0 50px;
    }
    .search-btn-wp {
        padding: 0 0 0 22px;
    }
    .table-wp {
        overflow hidden;
        margin-top: 10px;
        background: #fff;
        min-height: 600px;
    }
    .ant-table-pagination.ant-pagination {
        text-align: center;
        float: none;
    }
}