
#show_tiger {
    margin-left: 13px;
    margin-top: 5px;
    /* display:none */
}

#show_tiger li {
    float: left;
    height: 30px;
    line-height: 30px;
}

#show_tiger li em {
    padding: 0 13px;
    font-size: 15px;
    color: #000;
    font-family: '微软雅黑';
    font-weight: 800;
}

#show_tiger li a {
    display: inline-block;
    padding: 0 8px;
    margin: 0 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
}

#show_tiger .select {
    border: 1px solid #d1d1d1;
}

.bottom_center {
    margin-top: 26px;
    height: 80px;
}

.bottom_center_search {
    width: 698px;
    float: left;
    background: #fff;
    margin-left: 10px;
    position: relative;
    border: 1px solid #d0d0d0;
}

.bottom_center_search input {
    width: 95%;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    border: none;
    outline: 0;
}

.bottom_center_search div {
    position: absolute;
    top: 0;
    width: 33px;
    height: 100%;
    right: 0;
}

.bottom_center_search div a {
    display: inline-block;
    font-size: 14px;
    color: #d0d0d0;
    padding: 0 5px;
    line-height: 26px;
    margin-top: 6px;
    width: 64px;
    text-align: center;
    height: 26px;
    vertical-align: middle;
    cursor: pointer;
}

#platform_btn {
    width: 27px;
    background: url('../../images/slot/search.png') center no-repeat;
}

.gameType, .paltformChange {
    float: left;
}

.gameType em, .paltformChange em {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    color: #272727;
    vertical-align: bottom;
    padding: 0 14px;
}

.paltformChange #changeMG, .paltformChange ul li {
    width: 52px;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    border: 1px solid #d0d0d0;
    float: left;
    text-align: center;
    cursor: pointer;
}

.paltformChange ul {
    display: inline-block;
}

.paltformChange ul li {
    background: #fff;
    color: #cecece;
    vertical-align: middle;
    margin-right: 9px;
}

.paltformChange #changeMG {
    background: #d1d1d1;
    color: #929191;
    vertical-align: middle;
    margin-right: 4px;
}

.gameType select {
    border: 1px solid #a6a6a6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    background: url('../../images/slot/anniu.png') 105px center no-repeat #fff;
    width: 130px;
    height: 38px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 22px;
    border-radius: 2px;
}

.gameType select::-ms-expand {
    display: none;
}

.bottom_bottom ul li {
    width: 220px;
    height: 160px;
    float: left;
    margin-left: 13px;
    margin-bottom: 28px;
    color: #8b8b8b;
    text-align: center;
}

.portfolio-wrapper {
    height: 160px;
}

.bottom_bottom ul {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}

.bottom_bottom ul li div.name {
    position: absolute;
    width: 100%;
    line-height: 36px;
    color: #fff;
    bottom: 0;
    background: url('../../images/slot/playtech-logo.png') 8px center no-repeat;
    z-index: 9;
}

.bottom_bottom ul li div.name p:nth-child(1) {
    width: 100%;
    height: 36px;
    position: absolute;
    line-height: 36px;
    z-index: 10;
}

.bottom_bottom ul li div.name .name_warp {
    width: 100%;
    height: 36px;
    background: #000;
    opacity: 0.4;
}

.bottom_bottom ul li .main {
    width: 220px;
    height: 160px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    border-radius: 4px;
}

.bottom_bottom ul li .label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: #000;
    width: 100%;
    height: 100%;
}

.bottom_bottom ul li .main .label_name {
    position: absolute;
    height: 32px;
    width: 100%;
    line-height: 32px;
    background: url('../../images/slot/playtech-logo-c.png') 8px center no-repeat;
    color: #29cb85;
    z-index: 20;
    opacity: 0;
    top: 5px;
}

.bottom_bottom ul li .main .label-bg, .bottom_bottom ul li .main .label-text {
    left: 50%;
    z-index: 20;
    opacity: 0;
    color: #fff;
    box-shadow: 0 2px 5px 0;
    position: absolute;
}

.bottom_bottom ul li .main .leiji {
    position: absolute;
    background: #212020;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}

.bottom_bottom ul li .main .label-text {
    height: 30px;
    top: 32%;
    width: 150px;
    margin-left: -75px;
    line-height: 30px;
    background: url('../../images/slot/ptGameBg.png') top left no-repeat;
}

.bottom_bottom ul li .main .label-bg {
    width: 80px;
    height: 20px;
    background: url('../../images/slot/ptGameBg.png') 0 -37px no-repeat;
    line-height: 20px;
    margin-left: -40px;
    bottom: 20%;
}

.bottom_height {
    width: 100%;
    text-align: center;
    height: 50px;
    display: none;
    cursor: pointer;
}

.bottom_height p {
    background: url('../../images/slot/moregame.png') bottom center no-repeat;
    padding-bottom: 20px;
    color: #b0883c;
}

.paltformChange ul li.active {
    background: url('../../images/slot/all.png') center no-repeat;
    border: none;
}

.bottom-list {
    .bottom-list-wrapper {
        padding: 0 20px;
    }

    margin-top: 32px;

    .game-item {
        width: 220px;
        height: 160px;
        float: left;
        margin-left: 15px;
        margin-bottom: 28px;
        color: #8b8b8b;
        text-align: center;
        position: relative;

        &:hover {
            .game-item-hover {
                transform: scale(1.1);
                opacity: 1;
                z-index: 33;
            }

            .game-item-img {
                opacity: 0.4;
            }

            .game-item-bg {
                background-color: #000;
                opacity: 0.8;
                z-index: 32;
                transform: scale(1.1);
            }

            .game-item-img-title {
                opacity: 0;
            }

            .count-up-wrapper {
                color: rgb(200, 100, 0);
            }
        }

        &:nth-child(5n+1) {
            margin-left: 0;
        }

        .game-item-img, .game-item-bg, .game-item-hover {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;
        }

        .game-item-hover {
            opacity: 0;
            transition: all 0.5s ease-in-out;

            .play-game {
                position: absolute;
                height: 30px;
                top: 50%;
                color: #fff;
                width: 150px;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 30px;
                background: url('../../images/slot/ptGameBg.png') top left no-repeat;
            }

            .test-game {
                color: rgb(255, 255, 255);
                position: absolute;
                bottom: 15%;
                left: 50%;
                height: 20px;
                line-height: 18px;
                width: 80px;
                background-color: #9A7125;
                border-radius: 10px;
                transform: translateX(-50%);
            }
        }

        .count-up-wrapper {
            display: block;
            background: #212020;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            color: rgb(123, 123, 123);
        }

        .game-item-bg-bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        .game-item-img-title-bg {
            left: 0;
            top: 0;
            width: 100%;
            height: 36px;
            position: absolute;
        }

        .game-item-img-title {
            display: block;
            width: 100%;
            height: 36px;
            line-height: 36px;
            color: #fff;
            position: relative;
        }

        .game-item-img-title-bg {
            background: #000;
            opacity: 0.4;
        }
    }
}