.slot-top-wrapper {
    background: url('../../images/slot/pt_top_bg.jpg') center 0 no-repeat;

    .slot-top {
        height: 420px;
        width: 1200px;
        position: relative;
        margin: 0 auto;
    }

    .slot-top-side-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 111;
    }

    .slot-cards {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .slot-pool, .slot-mg, .slot-pt {
        text-align: center;
        height: 350px;
        width: 280px;
        border-radius: 10px;
        overflow: hidden;
        color: #d9d9d9;
        margin-right: 20px;
    }

    .slot-mg {
        margin-right: 140px;
    }

    .slot-pool {
        background-color: #1b1b1b;
    }

    .slot-pool-num {
        font-size: 28px;
        font-weight: 600;
        color: #fdaf24;
        position: absolute;
                                                                            left: 50%;
                                                                            transform: translateX(-50%);
                                                                            bottom: 15px;
    }

    .slot-pool-wrapper {
        position: relative;
        height: 100%;
    }

    .slot-pool-bottom {
        background: url('../../images/slot/slot_pool.png') no-repeat;
        position: absolute;
        bottom: 0;
        height: 109px;
        width: 305px;
        left: 50%;
        transform: translateX(-50%);
    }

    .slot-pt-top {
        height: 260px;
        background: url('../../images/slot/pt_show.jpg') no-repeat;
        position: relative;
        cursor: pointer;
    }

    .slot-play-pt {
        position: absolute;
        bottom: 0;
        background: url('../../images/slot/pt_logo.png') no-repeat;
    }

    .slot-pt-bottom {
        padding: 8px 15px 10px 15px;
        background-color: #1f1f1f;
    }

    .slot-pt-money {
        text-align: left;
        color: #919191;
        font-size: 12px;
    }

    .pt-balance {
        font-size: 18px;
        margin-top: 5px;
    }

    .pt-money-symbol {
        color: #fff;
    }

    .pt-money-count {
        color: #FE6E00;
    }

    .pt-zhuanzhang {
        font-size: 12px;
        padding: 2px 10px;
        color: #fff;
        background: orange;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        top: 3px;
        margin-right: 12px;
    }

    .pt-bottom {
        position: relative;
        margin-top: 5px;
    }

    .pt-pc-divider {
        position: absolute;
        content: '';
        height: 22px;
        border: 1px solid #333;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .pt-pc-download {
        font-size: 12px;
        height: 18px;
        line-height: 18px;
    }

    .pt-pc-download a {
        color: #919191;
    }

    .pt-pc-download::before {
        display: inline-block;
        content: '';
        width: 17px;
        height: 18px;
        margin-right: 6px;
        background: url('../../images/slot/pc_downloader.png') no-repeat;
        vertical-align: middle;
    }

    .pt-app-download {
        color: #919191;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
    }

    .pt-app-download::before {
        display: inline-block;
        content: '';
        width: 17px;
        height: 18px;
        margin-right: 6px;
        background: url('../../images/slot/qrcode-icon.png') no-repeat;
        vertical-align: middle;
    }
}

.slot-bottom-wrapper {
    position: relative;
    min-height: 628px;
    .slot-bottom-wrapper-img {
        position: absolute;
        top: 0;
    }
    .slot-bottom {
        border-radius: 4px;
        background: #f1f1f1;
        width: 1200px;
        min-height: 638px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -10px;
    }
}
