.trace-wrapper {
    width: 794px;
    padding: 12px;
    border-right: 1px solid #e0e6ed;

    .ant-tabs-bar {
        margin: 0;
    }

    .trace-top {
        padding: 10px;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;

        .fl-item {
            margin: 0 4px;
        }

        .gen-trace {
            font-size: 14px;
            cursor: pointer;
            color: #fff;
            background-image: linear-gradient(to bottom, #663A83 0%, #74458E 34.104%, #612F83 65.81%, #542374 86.659%, #411261 100%);
            padding: 2px 10px;
            border-radius: 3px;
        }
    }

    .trace-current-issue {
        display: inline-block;
        padding: 0 6px;
        background: #ff9100;
        border-radius: 6px;
        text-align: center;
        color: #fff;
    }

    .trace-tomorrow-issue {
        display: inline-block;
        padding: 0 6px;
        background: #3d5afe;
        border-radius: 6px;
        text-align: center;
        color: #fff;
    }

    .ant-table-small {
        border-radius: 0;
    }
}