*,*:before,*:after{
	box-sizing: border-box;
	margin:0; padding:0;
}
.m{
	width: 1200px;
	margin: 0 auto;
}
.w-min{
	width: 61px;
}
.w-mid{
	width: 66px;
}
.w-mlarge{
	width: 264px;
}
.w-large{
	width: 806px;
}
.f-red{
	color: #ff0000;
}
.f-green{
	color: #12906a;
}
.f-blue{
	color: #0000ff;
}
.f-white{
	color: #fff;
}
.fi-red{
	background: url(../images/tm_red.png) no-repeat;
	background-size: cover;	
}
.fi-green{
	background: url(../images/tm_green.png) no-repeat;
	background-size: cover;	
}
.fi-blue{
	background: url(../images/tm_blue.png) no-repeat;
	background-size: cover;	
}
.fe-red{
	background: url(../images/kjq_red.png) no-repeat;
	background-size: cover;
}
.fe-green{
	background: url(../images/kjq_green.png) no-repeat;
	background-size: cover;
}
.fe-blue{
	background: url(../images/kjq_blue.png) no-repeat;
	background-size: cover;
}
body{
	min-width: 1320px;
	font-family: "Microsoft yahei",Arial,Helvetica,sans-serif;
	margin: auto 0;
	font-size:14px;
	color: #666;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
table{
	border: none;
	border-collapse: collapse;
}
header{
	min-width: 1320px; height: 64px; line-height: 64px;
	padding-top: 14px; padding-bottom: 14px;
	color: #FBF8F0;
	background: #252525;
}
header .logo{
	width: 174px; height: 36px; line-height:36px;
	margin-right: 30px;
	float: left;
	text-align: right;
	background: url(../images/trend-lhc-logo.png) no-repeat;
}
nav ul{
	height: 36px; line-height:36px;
	float: left;
}
nav li{
	width: 85px; height: 36px; line-height: 36px;
	display: inline-block;
	text-align: center;
}
nav li.on, nav li:hover{
	color: #666;
	border-radius: 2px;
	background: #F1F0F0;
}
section{
	min-width: 1320px;
	background: #FFF;
}
section .table-th{
	height: 30px;
	background: #F5F5F5;
	border-bottom: 1px solid #E0E0E0;
}
section .table-tr{
	padding-bottom: 12px;
}
section .table-tr .table-tr-div{
	height: 86px;
	border-bottom: 1px solid #E0E0E0;
}
section span{
	height: 30px; line-height: 30px;
	float: left;
	font-size: 12px;
	text-align: center;
	border-left: 1px solid #E0E0E0;
	position: relative;
}
section span.last{
	border-right: 1px solid #E0E0E0;
}
section .table-tr span{
	height: 86px; line-height: 86px;
}
section span.table-wave{
	text-align: left;
}
section label{
	margin-left: 35px;
}
section .table-ul{
	position: absolute; left: 132px; top: 0;
}
section .table-tr .table-ul{
	top: 14px;
	font-size: 14px;
}
section .table-ul li{
	width: 36px; height: 30px; line-height: 30px;
	float: left;
	margin-right: 18px;
	text-align: center;
}
section .table-tr .table-ul li.table-total{
	height: 62px; line-height: 62px;
	background: none;
	color: #666;
}
section .table-tr .table-ul li{
	height: 36px; line-height: 36px;color:#fff;
}
section .table-tr .table-ul li:nth-child(7) {
	color: #666;
}
section .table-tr .table-ul2{
	height: 16px; line-height: 16px;
	top: 45px;
}
section .table-tr .table-ul2 li{
	color: #666;
}
section .table-staus, section .table-total-status{
	height: 86px; line-height: 86px;
}
section .table-status{
	padding-left: 50px; padding-right: 50px;
}
section .table-status li{
	width: 50px;
	float: left;
}
section .table-total-status li{
	width: 30px;
	float: left;
	border-right: 1px solid #E0E0E0;
}
section .table-total-status li.last{
	border-right: none;
}

