@font-face {
  font-family: 'sobet';
  src: url('../fonts/sobet.eot?#iefix') format('embedded-opentype'),  url('../fonts/sobet.woff') format('woff'), url('../fonts/sobet.ttf')  format('truetype'), url('../fonts/sobet.svg#sobet') format('svg');
  font-weight: normal;
  font-style: normal;
}
.agent-pop .ui-dialog-title{
  display:none;
}

.agent-pop h1{
  height:60px;
  width: 120px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: white;
  padding: 0px 10px;
  letter-spacing: 1px;
}

.agent-pop .title{
  height:60px;
  background-color: #35373a;
}
.agent-pop .title li a{
  color: #afafaf;
  display: inline-block;
  text-align: center;
  width: 100px;
  background-color: #222327;
  line-height: 22px;
  position: relative;
  border-radius: 3px;
}

.agent-pop .title li.on a{
  color: #39b3ff;
}

.agent-pop .title li a span.dot{
	color: rgb(255,138,67);
	position: absolute;
	/*right: 0px;*/
	top:-8px;
	font-size: 16px;
	visibility: hidden;
}

.agent-pop .title li.on a span.dot{
	visibility: visible;
}

.agent-pop .title li{
  margin-left: 10px;
  line-height: 60px;
  float:left;
}

.agent-pop .title li.noright{
  display:none;
}

.agent-pop .fr ul{
  margin-right: 10px;
}
.agent-pop .fr li{
	color: white;
	margin-left: 15px;
	line-height: 60px;
	background-color: transparent;
}

.agent-pop .fr em{
	color: #afafaf;
}

.agent-pop .panel{
  position: relative;
	height: 35px;
	padding-top: 25px;
	padding-bottom: 27px;
	background-color: #f7f9f8;
}

.dupnick{
  color: #f40;
  padding: 0px 10px;
}

.agent-pop .panel-fright{
  float: right;
  line-height: 35px;
  margin-right: 15px;
}
.agent-pop .panel-middle{
	width:50%;
  margin:0px auto;
}

.agent-pop .panel-fixedin{
  display:block;
  width:413px;
  height:40px;
  margin-left:105px;
}

.panel-middle label{
  width: 80px;
  text-align: right;
}

.agent-pop .panel-submit{
  text-align:center;
}

.agent-pop .panel-white{
  background-color: #FFF;
}

.agent-pop .panel-change{
	padding-top: 25px;
	padding-bottom:10px;
}

.agent-pop .panel-change-sec{
	padding-top: 10px;
	padding-bottom: 27px;
}

.agent-pop .panel-narrow{
	padding-top: 10px;padding-bottom: 13px;
}
.agent-pop .panel-nobottom{
	padding-bottom:0px;
}
.agent-pop .panel-help{
	padding-top:10px;
}
.agent-pop .panel-power{
	display:none;
  height:195px;
}
.agent-pop .panel-rate{
  height:85px;
}
.panel-power .panel-middle{
	border:1px solid #ccc;
  background-color:#efefef;
}
.agent-pop .panel-notop{
	padding-top:0px;
}
.agent-pop .panel-reg-error{
	height:32px;
	padding:0px;
}
.agent-pop .panel-center{
	padding-left:125px;
	padding-right:125px;
	background-color: #ecf0f1;
	box-shadow:0px 3px 2px #ddd inset;
}
.agent-pop .panel-center div{
	border: 1px solid #ccc;
	position: relative;
	height: 30px;
}
.agent-pop .panel select{
	padding: 8px 0;
  border-radius: 3px;
}

.agent-pop .panel select.panel-reg-point{
	width: 98px;
	height: 33px;
	height: auto\0;
}

.agent-pop .panel label{
	margin-right: 15px;
	margin-left: 20px;
	font-size: 14px;
}
.agent-pop .panel label.firstlb{
	margin-left: 133px;
}
.agent-pop .panel label,.agent-pop .panel select{
	line-height: 35px;float: left;font-size: 14px;
}

.agent-pop .panel-reg-error label{
	font-size:12px;line-height: 21px;
	color:red;
}

.agent-pop .panel select{
    padding: 7px 0px\0;
}

.agent-pop .panel .ltPoint {
  position: absolute;
  left: 20px;
  bottom: 5px;
  color: #666;
  font-size: 12px;
}
.copyToClip {
  background-color: #ff5243;
  color: #fff;
  float: right;
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  margin-right: 8px;
  width: 40px;
}
.copyToClip:hover {
  color: #fff;
}
.agent-pop .list li span.deletelink {
  font-weight: 700;
  font-size: 24px;
  color: #c8c8c8;
  filter: alpha(opacity=50);
  opacity: .5;
  cursor: pointer;
}
.agent-pop .list li span.deletelink:before {
  content: '×';
}
.agent-pop .list li span.deletelink:hover {
  color: #e74c3c;
  filter: alpha(opacity=100);
  opacity: 1;
}
.agent-pop .list li span.disabled, .agent-pop .list li span.disabled:hover {
  text-shadow: 0 1px 0 #dadada;
  color: #999;
  filter: alpha(opacity=50);
  opacity: .5;
  cursor: default;
}

.agent-pop .panel a{
	background-color: #ff5243;
	width: 88px;
	line-height: 35px;margin-left: 0px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	display: inline-block;
}

.agent-pop .panel a.sureCombine{
	display: none;
}

.agent-pop .panel i{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0px 10px;
	background-color: #ecf0f1;
	height: 30px;
	line-height: 30px;
}

.agent-pop .panel input{
	width:110px;
	height: 33px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  padding: 0 5px;
  font-size: 14px;
  float: left;
}

.agent-pop .panel-reg input{
	width:12%;
	line-height: 33px;
	float: left;
	margin-left: 0px;
	border: 1px solid #c8c8c8;
	padding:0px 5px;
	height:33px;
}

.agent-pop .panel-middle input{
  width: 75%;
  float: left;
}

.panel-power h5{padding:10px 40px;}
.agent-pop .panel-middle input.powerchk{
  width: auto;
  display:inline-block;
  line-height: 15px;
  height: 15px;
  margin: 5px 5px 0px;
}
.agent-pop .panel-reg input.chk{
	width:20px;
	margin-top: 11px;
}

.agent-pop .panel-reg label{
	margin-left: 10px;
}
.agent-pop .panel-reg label.firstlb{
	margin-left: 166px;
}
.agent-pop .panel-team label.firstlb{
	margin-left: 80px;
}
.agent-pop .panel-change label{
	margin: 0;
  margin-left: 8px;
  margin-right: 5px;
}
.agent-pop .panel-change input {
  width: 80px;
}
.agent-pop .panel-change a {
  margin-left: 15px;
}
.agent-pop .panel-user label.firstlb{
	margin-left: 146px;
}
.agent-pop .panel-user label,.agent-pop .panel-user input{
	float:none;
}
.agent-pop .panel-user input{
	width:120px;
	padding:0px;
	font-size:18px;
}
.agent-pop .panel-user input.withpadding{
	padding:0px 8px;
}
.agent-pop .panel a.green{
	background-color: #2dcc70;float: left;width: 140px;line-height: 35px;margin-left: 30px;
}
.agent-pop .panel-reg a{
	line-height: 35px;
	margin-left: 26px;
}
.agent-pop .panel-reg a.fl{
	float:left;
}
.agent-pop .panel-center a{
	position: absolute;
	right: 0px;
	top: 0px;
}

.agent-pop .list ul.linkList li span{
  height: 32px;
  line-height: 32px;
}

.agent-pop .panel-center a#copyToClip{
  line-height:30px;
}

.agent-pop .panel-tab{
	display: none;
}

.panel-tab div.list-hidden{
  display: none;
}

.panel-sectab{
	height: auto;
}
.agent-pop .itemlist ul{
  width:88%;
  margin:30px auto;

} 
.agent-pop .itemlist label{
  font-family: 'sobet';
  display:inline-block;
  width:64px;
  float: left;
  height:64px;
  text-align:center;
  background-color: #efefef;
  padding: 5px;
}
.agent-pop .itemlist label i{
  width: 52px;
  display: inline-block;
  float: left;
  font-size: 22px;
  line-height: 32px;
  vertical-align: bottom;
  margin-top: 8px;
  color: #9a9595;
}
.agent-pop .itemlist label em{
  font-size: 14px;
  display: block;
  line-height: 20px;
  float: left;
  width: 64px;
  font-family: "Microsoft Yahei";
}
.agent-pop .itemlist li{
  float: left;
  width:23.5%;
  height:48px;
  height: 74px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin:0px 5px 10px 5px;
}
.agent-pop .itemlist li span{
  float: left;
  line-height:74px;
  margin-left:5px;
  width: 60%;
  text-align: center;
  color: #ff5243;
  display:block;
  overflow:hidden;
  height:74px;
}
.agent-pop .itemlist li span a{
  display: inline-block;
  width: 60px;
  line-height: 21px;
  margin-top: 15px;
}
.agent-pop .itemlist li span em.money{
  font-size: 12px;
}
/*data grid table start*/
.agent-pop .list li>span{
	height: 35px;
	line-height: 35px;
	background-color: #e3e5e4;
	border-bottom: 1px solid #d3c9c8;
	border-right: 1px solid #d3c9c8;
	text-align: center;
	font-size: 12px;
  float: left;
}
.agent-pop .list li>span.small {
  width: 70px;
}
.agent-pop .list li>span.large {
  width: 130px;
}

.agent-pop .list li>span.higher{
	height: 50px;
	line-height: 50px;
}
.agent-pop .listhead{
	border-top: 1px solid #d3c9c8;
}
.agent-pop ul.data span{
	background-color: #fff;
}

.agent-pop ul.data span.autohide{
	overflow: hidden;
}
.agent-pop  ul.data span.last a.hand{
	margin-left: 9px;
}

.panel-sec h2{
  height:40px;
  line-height: 40px;
  font-size: 16px;
  display: block;
  padding-left: 35px;
}
.panel-sec h3{
  height:40px;
  line-height: 40px;
  font-size: 16px;
  padding:0px 15px;
  font-weight: bold;
  float:left;
}
.panel-sec h3.on{
  background-color: #ffdead;
}

.panel-sectab ul.sectab {
  background: #f7f9f8;
  overflow: hidden;
}

.panel-sec ul.sectab li,.panel-sectab ul.sectab li{
  float:left;
  height:40px;
  line-height: 40px;
  font-size: 14px;
  padding:0px 8px;
  background-color: #f7f9f8;
  cursor: pointer;
}

.panel-sec ul.sectab li:hover{
	background-color: #FFEBCD;
  color: #ff5243;
}

.panel-sec ul.sectab li.on{
	background-color: #ffdead;
}

.panel-sec ul.data span.last a.gotolnk{
	background-color: #ff5243;
	width: 110px;
	line-height: 35px;
	margin-left: 0px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	display: inline-block;
}

.panel-sec input.money{
	width: 90px;
	line-height: 21px;
	height: 21px;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
}

/* 1/4 width */
.agent-pop .split4 span{
	width:266px;
}

.agent-pop .split4 span.last{
	width:251px;
	border-right:none;
}

.agent-pop ul.withoutscroll .split4 span.last{
	width:266px;
}


.agent-pop .listhead span.last{
	width:268px;
}

/*.agent-pop .listhead span.last{
	width:357px;
}*/
/* 1/2 width */
.agent-pop .split2 span{
	width:534px;
}
.agent-pop .split2 span.last{
	width:534px;
}

ul.withoutscroll .split2 span.s2last{
	width:534px;
}
.agent-pop .split2 span.s2last{
	width:516px;
	border-right:none;
}
/* 1/3 width */
.agent-pop .split3 span{
	width:355px;
}
.agent-pop .split3 span.last{
	width:340px;
	border-right:none;
}

.agent-pop .withoutscroll span.last{
	width:357px;
}

/* 1/5 width */
.agent-pop .split5 span,.agent-pop .head-tab .listhead span.last{
	width:213px;
}
.agent-pop ul.pointrate .split5 span.last {
  width: 195px;
  border-right: none;
}
.agent-pop .withoutscroll .split5 span.last{
  width: 214px;
  border-right: none;
}
/* 1/6 width */
.agent-pop .split6 span,.agent-pop .head-tab .listhead span.last{
	width:177px;
}
.agent-pop ul.pointrate .split6 span.last {
  width: 180px;
  border-right: none;
}
.agent-pop .withoutscroll .split6 span.last{
  width: 180px;
  border-right: none;
}
.agent-pop .split6 span .number-spin-btn{
  top:-2px;
}
.agent-pop .split6 span a.hand{
  margin-left: 9px;
  display: inline-block;
  background-color: #f40;
  height: 26px;
  line-height: 26px;
  color: white;
  padding: 0px 10px;
}

/* 1/8 width */
.agent-pop .split8 span{
	width:100px;
}
.agent-pop .split8 span.small{
	width:70px;
}
.agent-pop .split8 span.middle{
  width:145px;
}
.agent-pop .split8 span.big{
	width:437px;
  font-size: 12px;
}
.agent-pop .split8 span.last {
  width:70px;
  border-right: none;
}

/* 1/8 width type B */
.agent-pop .split8b span{
	width:130px;
}
.agent-pop .split8b span.small{
	width:70px;
}
.agent-pop .split8b span.middle{
  width:145px;
}
.agent-pop .split8b span.big{
	width:437px;
  font-size: 12px;
}
.agent-pop .split8b span.last {
  width:153px;
  border-right: none;
}
.agent-pop .split8b span input{
  width:32px;
  height:21px;
}

/* 4+1 width */
.agent-pop .split41 span{
	/*width:176px;*/
	width:235px;
}
.agent-pop .split41 span.last{
	width:361px;
}
/* 1w+1n width */
.agent-pop li.split11>span{
	width:213px;
	background-color: #e3e5e4;
}
.agent-pop .split11>span.last{
	width:830px;
	text-align: left;
	padding-left: 25px;
	background-color: white;
	color: #333;
}
/* 11c width */
.agent-pop li.splitmulti{
	height:51px;
}
.agent-pop li.splitmulti span{
	width:105px;overflow: hidden;
}

.agent-pop li.splitmulti span.mini{
	width:66px;overflow: hidden;
}

.agent-pop div.combinerptlst ul li.splitmulti span{
	width:114px;
}

.agent-pop div.combinerptlst ul li.splitmulti span.mini{
	width:66px;
}

.agent-pop div.list ul li.splitmulti span.large{
	width:140px;overflow: hidden;
}

.agent-pop div.list ul li.splitmulti span.last{
	width:115px;
}

.agent-pop div.combinerptlst ul li.splitmulti span.last{
	width:104px;
}


.agent-pop div.list ul li.splitmulti span.inlast{
	width:82px;
	border-right:none;
}

ul.withoutscroll div.list ul li.splitmulti span.inlast{
	width:99px;
}

.agent-pop div.combinerptlst ul li.splitmulti span.inlast{
	width:85px;
}

.agent-pop div.combinerptlst ul.withoutscroll li.splitmulti span.inlast{
	width:105px;
}
.agent-pop ul.head-tab,ul.pointrate{
	display: none;
}
.agent-pop ul.pointrate {
  display:block;
}
.agent-pop ul.changeList{
	overflow-x: hidden;
	overflow-y: auto;
}
.agent-pop ul.combineList{
	height:260px;
	overflow-x: hidden;
	overflow-y: auto;
}
.agent-pop ul.regRateList{
	height:325px;
	overflow-x: hidden;
	overflow-y: auto;
}
.agent-pop ul.regAdminList{
  height:auto;
  display:block;
  margin:10px 40px;
}
.agent-pop ul.regAdminList li{
  width:48%;
  float:left;
  line-height: 24px;
}
.agent-pop .list ul.regAdminList li{
  width:auto;
  float:none;
}

.agent-pop .list ul.regAdminList{
  height:auto;
  display:block;
  margin:0px;
}

ul.settingList{
	height:280px;
	overflow-x: hidden;
	overflow-y: auto;
}
ul.rateList{
	height:270px;
	overflow-x: hidden;
	overflow-y: auto;
}
.panel-sec h4{
	padding:5px 10px;
	font-size:14px;
}

.agent-pop .list ul,.panel-tab div.panel-sectab,.panel-tab ul.head-tab{
	overflow: auto;
	zoom: 1;
	clear: both;
}

.agent-pop .list li{
	zoom: 1;
	display:block;
	content:"";
	height:auto;
	clear:both;
	overflow:hidden;
}
.agent-pop ul.listform{
  width:50%;
  margin:0px auto;
  margin-top:0px;
}
.agent-pop ul.listform li{
  display:block;
  clear: initial;
  width:auto;
  height:40px;
  font-size:16px;
  vertical-align: top;
  padding-top:15px;
  margin-right:25px;
  padding-left:30px;
  
}
.agent-pop ul.listform li input{
  height:22px;
  line-height:22px;
  font-size:14px;
  float:left;
  width:115px;
  margin-top:1px;
}

.agent-pop ul.listform li label{
  width:180px;
  display:inline-block;
  text-align:right;
  float:left;
  margin-top:6px;
}
.agent-pop ul.listform li em{
  float:left;
  margin-top:5px;
  margin-left:6px;
}
.agent-pop ul.listform li i{
  color:red;
  float:left;
  margin-top:6px;
}

.agent-pop .list ul.head li.listheadhide{
	display:none;
}

.agent-pop .list ul.regRateList li,.agent-pop .list ul.regAdminList li{height:36px;}

.agent-pop .list li.rateabnormal{
	display:none;
}

.agent-pop .list ul.userTip{
	height:51px;
}

.agent-pop li.bloading{
	position: relative;
}


.agent-pop .page-break{margin-right:3px;}
.agent-pop div.blankplace{text-align:center;line-height:150px;}
body.lockscroll{overflow: hidden;}
.agent-pop .panel a.disabled{
  background-color: #ccc;
  color: #999;
  cursor: default;
}

.agent-pop .panel a.loading {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  -webkit-animation: loading 0.7s linear infinite;
  -o-animation: loading 0.7s linear infinite;
  animation: loading 0.7s linear infinite;
}

.agent-pop input.datapick{
  background-image: url(../images/datepicker.png);
  background-position: 125px 2px;
  background-repeat: no-repeat;
  padding:0px 10px 0px 7px;
  width: 140px;
}

ul.panel-regtype{
  height:40px;
  background-color:#eee;
}

ul.panel-regtype li:hover{background-color: #FFEBCD;}

ul.panel-regtype li.on{
	background-color: #ffdead;
}
/*COLORS:38*/
ul.regAdminList{
  display:none;
}

input.hand{cursor:pointer;}

.panel-sec p{
  text-align:center;
  padding:20px 0px;
}

.agent-pop ul.listform li em.alert{
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: #ff0000;
  border-radius: 18px;
  text-align: center;
  display:inline-block;
  margin-right:10px;
  margin-top:0px;
  font-size:30px;
}

.agent-pop ul.listform li p{
  line-height: 20px;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.agent-pop ul.listform h5{
  height: 40px;
  line-height: 35px;
  font-size: 32px;
  display: block;
  padding-left: 35px;
}

.agent-pop ul.listform select{
  height: 35px;
  line-height: 37px;
  width: 200px;
}

.agent-pop ul.listform div.borderinput{
  border:1px solid #A9A9A9;
  position: relative;
  float: left;
  border-radius: 1px;
  height:35px;
  line-height:35px;
  width:200px;
}

.agent-pop ul.listform div.borderinput input{
  border: none;
  height: 32px;
  line-height: 32px;
  margin-left: 5px;
  width: 80%;
}

.agent-pop ul.listform div.borderinput em{
  margin:0px;
  margin-right:10px;
}
.agent-pop .panel a.disabled.switchbtn{
	cursor:pointer;
}

.agent-pop .summary em .ui-dialog-loading{
  display: inline-block;
  margin-top: 0px;
}

.dupnick .ui-dialog-loading{
  display: inline-block;
  margin-top: -40px;
}
