.index-wrapper {
    .carousel-custom-page {
        font-size: 24px;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        vertical-align: middle;
    }

    .carousel-custom-page--icon {
        font-size: 30px;
        cursor: pointer;
        vertical-align: middle;

        &:hover {
            color: #333;
        }
    }

    .carousel-custom-page--current, .carousel-custom-page--total {
        margin: 0 8px 0 4px;
        vertical-align: middle;
    }

    .carousel-custom-page--slash {
        vertical-align: middle;
    }
}