.win-list-wrapper {
    height: 40px;
    line-height: @height;
    .good-news-item {
        margin: 0 15px;
        color: #fff;
    }

    .good-news-lottery {
        color: #ffa900;
    }

    .good-news-money {
        color: #ffa900;
    }
}