body.theme.lhc-body {
    background-image: linear-gradient(135deg, #be504a, #7a2828);
}

body.theme.lhc-body .wrap {
    min-height: 880px;
}

body.theme.lhc-body .wrap .main {
    width: 1200px;
}

body.theme.lhc-body .main .info .name i {
    background: url(/static/xglhc/images/xglhc-logo.png) no-repeat;
    margin: 15px 0 0 15px;
}

body.theme.lhc-body .wrap .lottery .recency .tit,
body.theme.lhc-body .wrap .lottery .recency .tit {
    width: 1200px;
}

body.theme.lhc-body .main .info {
    background: none;
}

body.theme.lhc-body .main.lt-cqssc .info .name i {
    width: 191px;
    height: 60px;
    margin-top: 17px;
}

body.theme.lhc-body .main .info .issue {
    width: 315px;
    margin-left: 25px;
    margin-right: 25px;
}

body.theme.lhc-body .main .info .issue p,
body.theme.lhc-body .main .info .last-issue-wrap p {
    text-align: left;
    font-size: 12px;
    color: #fff;
    margin-top: 6px;
}

body.theme.lhc-body .main .info .issue .issue-wrap,
body.theme.lhc-body .main .info .last-issue-wrap {
    margin-top: 20px;
    width: 136px;
}

body.theme.lhc-body .main .info .issue p em,
body.theme.lhc-body .main .info .last-issue-wrap p em {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin: 0 5px;
}

body.theme.lhc-body .main .info .issue .clock {
    margin-top: 22px;
    margin-left: 0px;
    /* margin-left: 20px; */
}

body.theme.lhc-body .main .info .last-issue {
    width: 585px;
}

body.theme.lhc-body .main .info .last-issue ul.last-issue-code {
    margin-top: 20px;
    margin-left: -12px;
}

body.theme.lhc-body .main .info .last-issue ul li {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: normal;
    margin-right: 15px;
}

body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-01,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-02,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-07,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-08,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-12,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-13,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-18,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-19,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-23,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-24,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-29,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-30,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-34,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-35,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-40,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-45,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-46 {
    background: url(/static/xglhc/images/kjq_red.png) no-repeat;
}

body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-01,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-02,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-07,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-08,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-12,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-13,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-18,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-19,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-23,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-24,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-29,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-30,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-34,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-35,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-40,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-45,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-46 {
    background: url(/static/xglhc/images/tm_red.png) no-repeat;
}

body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-03,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-04,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-09,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-10,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-14,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-15,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-20,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-25,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-26,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-31,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-36,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-37,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-41,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-42,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-47,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-48 {
    background: url(/static/xglhc/images/kjq_blue.png) no-repeat;
}

body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-03,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-04,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-09,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-10,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-14,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-15,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-20,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-25,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-26,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-31,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-36,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-37,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-41,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-42,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-47,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-48 {
    background: url(/static/xglhc/images/tm_blue.png) no-repeat;
}

body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-05,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-06,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-11,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-16,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-17,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-21,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-22,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-27,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-28,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-32,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-33,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-38,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-39,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-43,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-44,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-49 {
    background: url(/static/xglhc/images/kjq_green.png) no-repeat;
}

body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-05,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-06,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-11,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-16,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-17,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-21,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-22,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-27,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-28,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-32,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-33,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-38,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-39,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-43,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-44,
body.theme.lhc-body .main .info .last-issue ul li.lhc-open-code-tm-49 {
    background: url(/static/xglhc/images/tm_green.png) no-repeat;
}

body.theme.lhc-body .main .info .last-issue p {
    line-height: 1;
    overflow: hidden;
}

body.theme.lhc-body .main .info .last-issue .chart {
    color: #fff;
    font-size: 12px;
    background: url(/static/lottery/images/chart-logo.png) 0 center no-repeat;
    background-size: 17px 14px;
    padding-left: 20px;
    margin-top: 36px;
}

body.theme.lhc-body .lottery .tab {
    height: 38px;
    border: none;
    background-color: #e0e0e0;
}

body.theme.lhc-body .lottery .tab span {
    padding: 0 13px;
    height: 38px;
    line-height: 38px;
    background-color: #f5f5f5;
    margin-top: 0;
    font-size: 16px;
    color: #666666;
    border-radius: 0;
}

body.theme.lhc-body .lottery .tab span.on {
    color: #c93231;
    background-color: #fff;
}

body.theme.lhc-body .lottery .subtab {
    height: 38px;
    line-height: 38px;
    padding-top: 0;
    margin-bottom: 8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(#ffffff, #ffffff);
    background: #fff;
    background-blend-mode: soft-light, normal;
}

body.theme.lhc-body .lottery .subtab dl {}

body.theme.lhc-body .lottery .subtab dt,
body.theme.lhc-body .lottery .subtab dd {
    margin-top: 8px;
    text-align: center;
}

body.theme.lhc-body .lottery .subtab dt {
    width: 105px;
}

body.theme.lhc-body .lottery .subtab dd {
    width: 105px;
    height: 22px;
    border-radius: 2px;
    border: solid 1px #e0e0e0;
}

body.theme.lhc-body .lottery .subtab dd.on {
    background-color: #a80e1b;
}

body.theme.lhc-body .lottery .theme_direction {
    border-top: 0;
    display: inline-block;
}

body.theme.lhc-body .lottery .theme_direction .hint_theme div {
    font-size: 14px;
    color: #666;
}

body.theme.lhc-body .lottery .oddsTab-wrap {
    font-size: 0;
    color: #666;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(#ffffff, #ffffff);
    background-blend-mode: soft-light, normal;
    margin-left: 24px;
}

body.theme.lhc-body .lottery .oddsTab-wrap .oddsTab {
    width: 56px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border: solid 1px #e0e0e0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: #fff;
}

body.theme.lhc-body .lottery .oddsTab-wrap .oddsTip {
    color: #666;
    display: inline;
    font-size: 12px;
    vertical-align: text-bottom;
    margin-left: 10px;
}

body.theme.lhc-body .lottery .oddsTab-wrap .oddsTab.on {
    background-color: #a80e1b;
    color: #fff;
    width: 56px;
}

body.theme.lhc-body #lottery {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(#ffffff, #ffffff);
    background: #fff;
    background-blend-mode: soft-light, normal;
}

body.theme.lhc-body .lottery .theme_direction,
body.theme.lhc-body .lottery .direction {
    background: none;
    line-height: 20px;
    padding-top: 0;
}

body.theme.lhc-body .lottery .number {
    margin-top: 9px;
    overflow: visible;
    border-bottom: none;
    background-color: #fff;
}

body.theme.lhc-body .lottery .theme_direction .hint_icon {
    height: 18px;
}

body.theme.lhc-body .lottery .subtab dl {
    padding-left: 0;
}

.plate-item-title {
    background: #F5F5F5;
    box-shadow: 0 1px 0 0 #E0E0E0;
    border-radius: 4px;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    width: 200px;
    height: 30px;
    line-height: 30px;
}

.plate-wrap-item[method="tm_tm_sx"] .plate-item-title,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-title {
    width: 600px;
}

.plate-wrap-item[method="tm_tm_sx"] .plate-item-title-left,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-title-left {
    margin-left: 24px;
}

.plate-wrap-item[method="tm_tm_sx"] .plate-item,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item {
    width: 600px;
}

.plate-wrap-item[method="tm_tm_sx"] .plate-item-odd,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-odd {
    margin-left: 37px;
    margin-right: 30px;
}

.plate-wrap-item[method="tm_tm_sx"] .plate-item-num,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num {
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    background: none;
    margin-right: 0;
    margin-left: 0;
    width: 77px;
}

.plate-wrap-item[method="lm_lm_2z2"] .plate-item-num,
.plate-wrap-item[method="lm_lm_3z2"] .plate-item-num,
.plate-wrap-item[method="lm_lm_3z3"] .plate-item-num,
.plate-wrap-item[method="tm_tm_zx"] .plate-item-num,
.plate-wrap-item[method="zt1m_zt1m_zt1m"] .plate-item-num {
    font-family: HelveticaNeue;
}

.click-num-item {
    cursor: pointer;
}

.click-num-item[method="lx_lx_2lx"],
.click-num-item[method="lx_lx_3lx"],
.click-num-item[method="lx_lx_4lx"] {
    width: 284px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

#lottery .number .click-num-item[method="lx_lx_2lx"],
#lottery .number .click-num-item[method="lx_lx_3lx"],
#lottery .number .click-num-item[method="lx_lx_4lx"] {
    margin-right: 8px;
    margin-top: 8px;
}

#lottery .number .click-num-item[method="lx_lx_2lx"]:nth-child(4n),
#lottery .number .click-num-item[method="lx_lx_3lx"]:nth-child(4n),
#lottery .number .click-num-item[method="lx_lx_4lx"]:nth-child(4n) {
    margin-right: 0;
}

.click-num-item[method="lx_lx_2lx"].on,
.click-num-item[method="lx_lx_3lx"].on,
.click-num-item[method="lx_lx_4lx"].on,
.click-num-item[method="lx_lx_2lx"]:hover,
.click-num-item[method="lx_lx_3lx"]:hover,
.click-num-item[method="lx_lx_4lx"]:hover {
    background-color: #e5f3f9;
}

.click-num-item[en=shu]:before,
.click-num-item[en=niu]:before,
.click-num-item[en=hu]:before,
.click-num-item[en=tu]:before,
.click-num-item[en=long]:before,
.click-num-item[en=she]:before,
.click-num-item[en=ma]:before,
.click-num-item[en=yang]:before,
.click-num-item[en=hou]:before,
.click-num-item[en=ji]:before,
.click-num-item[en=gou]:before,
.click-num-item[en=zhu]:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-shu:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-niu:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-hu:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-tu:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-long:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-she:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-ma:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-yang:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-hou:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-ji:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-gou:before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-zhu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-shu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-niu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-hu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-tu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-long:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-she:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-ma:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-yang:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-hou:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-ji:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-gou:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-zhu:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    content: '';
    vertical-align: middle;
    margin-left: 21px;
    margin-right: 12px;
}

.click-num-item[en=shu]:before,
.click-num-item[en=niu]:before,
.click-num-item[en=hu]:before,
.click-num-item[en=tu]:before,
.click-num-item[en=long]:before,
.click-num-item[en=she]:before,
.click-num-item[en=ma]:before,
.click-num-item[en=yang]:before,
.click-num-item[en=hou]:before,
.click-num-item[en=ji]:before,
.click-num-item[en=gou]:before,
.click-num-item[en=zhu]:before {
    margin-left: 16px;
    margin-right: 20px;
}

#lottery .number .plate-wrap-item[method="lm_lm_2z2"],
#lottery .number .plate-wrap-item[method="lm_lm_3z2"],
#lottery .number .plate-wrap-item[method="lm_lm_3z3"] {
    width: 128px;
    text-align: center;
    margin-right: 2px;
}

.click-num-item[method="lm_lm_2z2"],
.click-num-item[method="lm_lm_3z2"],
.click-num-item[method="lm_lm_3z3"] {
    width: 100%;
    height: 42px;
    line-height: 42px;
    margin-bottom: 2px;
}

.click-num-item[method="lm_lm_2z2"].on,
.click-num-item[method="lm_lm_3z2"].on,
.click-num-item[method="lm_lm_3z3"].on,
.click-num-item[method="lm_lm_2z2"]:hover,
.click-num-item[method="lm_lm_3z2"]:hover,
.click-num-item[method="lm_lm_3z3"]:hover {
    background-color: #faebd7!important;
}

.click-num-item[method="lm_lm_2z2"] .click-num-item-text,
.click-num-item[method="lm_lm_3z2"] .click-num-item-text,
.click-num-item[method="lm_lm_3z3"] .click-num-item-text {
    font-family: HelveticaNeue;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    display: inline-block;
    margin-right: 0;
}

body.theme.lhc-body .lottery .number[method="lx_lx_2lx"],
body.theme.lhc-body .lottery .number[method="lx_lx_3lx"],
body.theme.lhc-body .lottery .number[method="lx_lx_4lx"] {
    padding: 0 20px;
}

body.theme.lhc-body .lottery .number[method="lm_lm_2z2"],
body.theme.lhc-body .lottery .number[method="lm_lm_3z2"],
body.theme.lhc-body .lottery .number[method="lm_lm_3z3"] {
    padding: 20px;
}

body.theme.lhc-body .lottery .number[method="hzdxds_hzdxds_hzdxds"] {
    padding: 45px;
}

.click-num-item[method="hzdxds_hzdxds_hzdxds"] {
    margin-right: 25px;
}

.click-num-item[method="hzdxds_hzdxds_hzdxds"] .click-num-item-text {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 48px;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    color: #858585;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
}

.click-num-item[method="hzdxds_hzdxds_hzdxds"].on .click-num-item-text,
.click-num-item[method="hzdxds_hzdxds_hzdxds"]:hover .click-num-item-text {
    color: #fff;
    background-color: #a80e1b;
}

.click-num-item-text {
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    margin-right: 20px;
}

.click-num-item[en=shu]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-shu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-shu:before {
    background: url(/static/xglhc/images/sx_shu.png) no-repeat;
}

.click-num-item[en=niu]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-niu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-niu:before {
    background: url(/static/xglhc/images/sx_niu.png) no-repeat;
}

.click-num-item[en=hu]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-hu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-hu:before {
    background: url(/static/xglhc/images/sx_hu.png) no-repeat;
}

.click-num-item[en=tu]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-tu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-tu:before {
    background: url(/static/xglhc/images/sx_tu.png) no-repeat;
}

.click-num-item[en=long]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-long:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-long:before {
    background: url(/static/xglhc/images/sx_long.png) no-repeat;
}

.click-num-item[en=she]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-she:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-she:before {
    background: url(/static/xglhc/images/sx_she.png) no-repeat;
}

.click-num-item[en=ma]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-ma:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-ma:before {
    background: url(/static/xglhc/images/sx_ma.png) no-repeat;
}

.click-num-item[en=yang]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-yang:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-yang:before {
    background: url(/static/xglhc/images/sx_yang.png) no-repeat;
}

.click-num-item[en=hou]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-hou:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-hou:before {
    background: url(/static/xglhc/images/sx_hou.png) no-repeat;
}

.click-num-item[en=ji]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-ji:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-ji:before {
    background: url(/static/xglhc/images/sx_ji.png) no-repeat;
}

.click-num-item[en=gou]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-gou:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-gou:before {
    background: url(/static/xglhc/images/sx_gou.png) no-repeat;
}

.click-num-item[en=zhu]::before,
.plate-wrap-item[method="tm_tm_sx"] .plate-item-num-zhu:before,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-num-zhu:before {
    background: url(/static/xglhc/images/sx_zhu.png) no-repeat;
}

.filter-num-wrap[method="tm_tm_sx"],
.filter-num-wrap[method="zt1x_zt1x_zt1x"] {
    width: 1200px;
    height: 40px;
    padding-top: 8px;
    float: left;
}

.filter-num-wrap[method="tm_tm_sx"] .filter-num-input-title,
.filter-num-wrap[method="zt1x_zt1x_zt1x"] .filter-num-input-title {
    margin-left: 16px;
    height: 30px;
    line-height: 30px;
}

.filter-num-wrap[method="tm_tm_sx"] .filter-num-input,
.filter-num-wrap[method="zt1x_zt1x_zt1x"] .filter-num-input {
    margin-left: 3px;
    margin-bottom: 0;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(1),
.plate-wrap-item[method="tm_tm_sb"]:nth-child(2),
.plate-wrap-item[method="tm_tm_sb"]:nth-child(3) {
    width: 400px;
    border-right: 2px solid #fff;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(3) {
    border-right: none;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(1) .plate-item,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(2) .plate-item,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(3) .plate-item {
    background: #F4F7FF;
}

.plate-wrap-item[method="tm_tm_dxds"] {
    width: 600px;
}

.plate-wrap-item[method="tm_tm_dxds"]:nth-child(2) {
    border-right: none;
}

.plate-wrap-item[method="ztws_ztws_ztws"],
.plate-wrap-item[method="ztws_ztws_ztws"] .plate-item-title,
.plate-wrap-item[method="ztws_ztws_ztws"] .plate-item,
.plate-wrap-item[method="tm_tm_ws"],
.plate-wrap-item[method="tm_tm_ws"] .plate-item-title,
.plate-wrap-item[method="tm_tm_ws"] .plate-item {
    width: 600px;
    box-sizing: border-box;
    border-right: 2px solid #fff;
}

.plate-wrap-item[method="ztws_ztws_ztws"]:nth-child(2),
.plate-wrap-item[method="ztws_ztws_ztws"]:nth-child(2) .plate-item-title,
.plate-wrap-item[method="ztws_ztws_ztws"]:nth-child(2) .plate-item,
.plate-wrap-item[method="tm_tm_ws"]:nth-child(2),
.plate-wrap-item[method="tm_tm_ws"]:nth-child(2) .plate-item-title,
.plate-wrap-item[method="tm_tm_ws"]:nth-child(2) .plate-item {
    border-right: none;
}

.plate-item-odd {
    width: auto;
}

.plate-wrap-item[method="tm_tm_ws"] .plate-item-num,
.plate-wrap-item[method="ztws_ztws_ztws"] .plate-item-num {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    background: none;
}

.plate-wrap-item[method="tm_tm_ws"] .plate-item-odd,
.plate-wrap-item[method="ztws_ztws_ztws"] .plate-item-odd {
    margin-left: 32px;
    margin-right: 42px;
}

.click-num-item[method="lx_lx_2lx"] .plate-rel-num,
.click-num-item[method="lx_lx_3lx"] .plate-rel-num,
.click-num-item[method="lx_lx_4lx"] .plate-rel-num,
.plate-wrap-item[method="tm_tm_ws"] .plate-rel-num,
.plate-wrap-item[method="ztws_ztws_ztws"] .plate-rel-num {
    display: inline-block;
    margin-right: 10px;
}

.click-num-item[method="lx_lx_2lx"][bnsx="yes"] .plate-rel-num,
.click-num-item[method="lx_lx_3lx"][bnsx="yes"] .plate-rel-num,
.click-num-item[method="lx_lx_4lx"][bnsx="yes"] .plate-rel-num {
    margin-right: 5px;
}

.plate-wrap-item[method="tm_tm_dxds"],
.plate-wrap-item[method="tm_tm_dxds"] .plate-item-title,
.plate-wrap-item[method="tm_tm_dxds"] .plate-item {
    width: 600px;
    box-sizing: border-box;
    border-right: 2px solid #fff;
}

.plate-wrap-item[method="tm_tm_dxds"]:nth-child(2),
.plate-wrap-item[method="tm_tm_dxds"]:nth-child(2) .plate-item-title,
.plate-wrap-item[method="tm_tm_dxds"]:nth-child(2) .plate-item {
    border-right: none;
}

.plate-wrap-item[method="tm_tm_dxds"] .plate-item-num {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    background: none;
}

.plate-item-hint {
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}

.plate-wrap-item[method="tm_tm_dxds"] .plate-item-odd {
    margin-left: 48px;
    margin-right: 30px;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(1) .plate-item-title,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(2) .plate-item-title,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(3) .plate-item-title,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(1) .plate-item,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(2) .plate-item,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(3) .plate-item {
    width: 400px;
    border-right: 2px solid #fff;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(3) .plate-item-title,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(3) .plate-item {
    border-right: none;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(3) {
    border-right: none;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(4),
.plate-wrap-item[method="tm_tm_sb"]:nth-child(5) {
    width: 600px;
    border-right: 2px solid #fff;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(4) .plate-item-title,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(4) .plate-item,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(5) .plate-item-title,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(5) .plate-item {
    width: 600px;
    border-right: 2px solid #fff;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(5) .plate-item-title,
.plate-wrap-item[method="tm_tm_sb"]:nth-child(5) .plate-item {
    border-right: none;
}

.plate-wrap-item[method="tm_tm_sb"]:nth-child(5) {
    border-right: none;
}

.plate-wrap-item[method="tm_tm_sb"] .plate-item-num {
    background: none;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
}

.plate-wrap-item[method="tm_tm_sb"] .plate-item-odd {
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.plate-wrap-item[method="tm_tm_sb"] .plate-rel-num {
    margin-right: 4px;
}

.filter-zodiac-tab {
    /* background-image: linear-gradient(-180deg, #FAFAFA 0%, #F5F5F5 100%); */
    background: #F8F8F8;
    border: 1px solid #E0E0E0;
    color: #F5A623;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0;
    width: 85px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}


/* .filter-zodiac-tab:hover {
    background-image: linear-gradient(-180deg, #DBB57C 0%, #B58048 100%);
    color: #fff;
} */

.filter-zodiac-tab.on {
    /* background-image: linear-gradient(0deg, #B7844D 0%, #804C25 100%);
    color: #fff; */
    background: #faebd7;
}

.filter-poultry-zodiac {
    margin-left: 21px;
    margin-right: 16px;
}

.plate-rel-num {
    font-family: HelveticaNeue;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-right: 10px;
    margin-top: 12px;
}

.plate-item {
    width: 200px;
    height: 54px;
    line-height: 54px;
    background: #FFF;
}

.plate-item.on {
    background: #faebd7!important;
}

.plate-item-input {
    background: #EFEFEF;
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    border-radius: 2px;
    width: 90px;
    height: 30px;
    margin-right: 8px;
    margin-top: 12px;
    text-align: center;
    -moz-appearance: textfield;
}

.plate-item-num {
    background: #C35353;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-right: 6px;
    margin-left: 14px;
    margin-top: 12px;
}

.plate-item-num-01,
.plate-item-num-02,
.plate-item-num-07,
.plate-item-num-08,
.plate-item-num-12,
.plate-item-num-13,
.plate-item-num-18,
.plate-item-num-19,
.plate-item-num-23,
.plate-item-num-24,
.plate-item-num-29,
.plate-item-num-30,
.plate-item-num-34,
.plate-item-num-35,
.plate-item-num-40,
.plate-item-num-45,
.plate-item-num-46 {
    background: #C35353;
}

.plate-item-num-03,
.plate-item-num-04,
.plate-item-num-09,
.plate-item-num-10,
.plate-item-num-14,
.plate-item-num-15,
.plate-item-num-20,
.plate-item-num-25,
.plate-item-num-26,
.plate-item-num-31,
.plate-item-num-36,
.plate-item-num-37,
.plate-item-num-41,
.plate-item-num-42,
.plate-item-num-47,
.plate-item-num-48 {
    background-image: linear-gradient(-180deg, #026CE7 0%, #013ACB 100%);
}


/* 绿：05,06,11,16,17,21,22,27,28,32,33,38,
39,43,44,49 */

.plate-item-num-05,
.plate-item-num-06,
.plate-item-num-11,
.plate-item-num-16,
.plate-item-num-17,
.plate-item-num-21,
.plate-item-num-22,
.plate-item-num-27,
.plate-item-num-28,
.plate-item-num-32,
.plate-item-num-33,
.plate-item-num-38,
.plate-item-num-39,
.plate-item-num-43,
.plate-item-num-44,
.plate-item-num-49 {
    background: #12906A;
}

.plate-item-odd {
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}

.plate-wrap-item {
    border-right: 2px white solid;
    box-sizing: border-box;
}

.plate-wrap-item[method="tm_tm_sx"],
.plate-wrap-item[method="zt1x_zt1x_zt1x"] {
    width: 50%;
}

.plate-wrap-item[method="zt1x_zt1x_zt1x"],
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item-title,
.plate-wrap-item[method="zt1x_zt1x_zt1x"] .plate-item,
.plate-wrap-item[method="tm_tm_sx"],
.plate-wrap-item[method="tm_tm_sx"] .plate-item-title,
.plate-wrap-item[method="tm_tm_sx"] .plate-item {
    border-right: 2px solid #fff;
    box-sizing: border-box;
}

.plate-wrap-item[method="zt1x_zt1x_zt1x"]:nth-child(2),
.plate-wrap-item[method="zt1x_zt1x_zt1x"]:nth-child(2) .plate-item-title,
.plate-wrap-item[method="zt1x_zt1x_zt1x"]:nth-child(2) .plate-item,
.plate-wrap-item[method="tm_tm_sx"]:nth-child(2),
.plate-wrap-item[method="tm_tm_sx"]:nth-child(2) .plate-item-title,
.plate-wrap-item[method="tm_tm_sx"]:nth-child(2) .plate-item {
    border-right: none;
}

body.theme.lhc-body .lottery .number {
    padding: 0;
}

body.theme.lhc-body .lottery .count {
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
}

.plate-item-title-left {
    margin-left: 16px;
}

.plate-item-title-right {
    margin-right: 27px;
}

.filter-num-wrap-lm_lm_2z2,
.filter-num-wrap-lm_lm_3z2,
.filter-num-wrap-lm_lm_3z3,
.filter-num-wrap-tm_tm_zx,
.filter-num-wrap-zt1m_zt1m_zt1m {
    background: #F8F8F8;
    width: 180px;
    height: 542px;
    position: relative;
    top: -30px;
}

.filter-num-wrap-lm_lm_2z2,
.filter-num-wrap-lm_lm_3z2,
.filter-num-wrap-lm_lm_3z3 {
    height: 480px;
}

.filter-num-title-lm_lm_2z2,
.filter-num-title-lm_lm_3z2,
.filter-num-title-lm_lm_3z3,
.filter-num-title-tm_tm_zx,
.filter-num-title-zt1m_zt1m_zt1m {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: center;
    margin-top: 8px;
}

.filter-num-red,
.filter-num-blue,
.filter-num-green {
    width: 88px;
    height: 64px;
    font-size: 14px;
    letter-spacing: 0;
    margin: 15px auto;
}

.filter-num-red {
    color: #E78585;
}

.filter-num-blue {
    color: #8AA7F0;
}

.filter-num-green {
    color: #53C3C0;
}

.filter-num-zodiac {
    font-size: 14px;
    color: #F5A623;
    letter-spacing: 0;
    width: 96px;
    height: 128px;
    margin: 15px auto;
}

.filter-num-red-da,
.filter-num-red-xiao,
.filter-num-red-dan,
.filter-num-red-shuang,
.filter-num-blue-da,
.filter-num-blue-xiao,
.filter-num-blue-dan,
.filter-num-blue-shuang,
.filter-num-green-da,
.filter-num-green-xiao,
.filter-num-green-dan,
.filter-num-green-shuang {
    width: 44px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    cursor: pointer;
}

.filter-num-red-xiao,
.filter-num-blue-xiao,
.filter-num-green-xiao {
    border-left: none;
}

.filter-num-red-dan,
.filter-num-blue-dan,
.filter-num-green-dan {
    border-top: none;
}

.filter-num-red-shuang,
.filter-num-blue-shuang,
.filter-num-green-shuang {
    border-left: none;
    border-top: none;
}

.filter-num-red-da.on,
.filter-num-red-xiao.on,
.filter-num-red-dan.on,
.filter-num-red-shuang.on,
.filter-num-blue-da.on,
.filter-num-blue-xiao.on,
.filter-num-blue-dan.on,
.filter-num-blue-shuang.on,
.filter-num-green-da.on,
.filter-num-green-xiao.on,
.filter-num-green-dan.on,
.filter-num-green-shuang.on,
.filter-num-zodiac-shu.on,
.filter-num-zodiac-niu.on,
.filter-num-zodiac-hu.on,
.filter-num-zodiac-tu.on,
.filter-num-zodiac-long.on,
.filter-num-zodiac-she.on,
.filter-num-zodiac-ma.on,
.filter-num-zodiac-yang.on,
.filter-num-zodiac-hou.on,
.filter-num-zodiac-ji.on,
.filter-num-zodiac-gou.on,
.filter-num-zodiac-zhu.on {
    background: antiquewhite;
}

.filter-num-zodiac-shu,
.filter-num-zodiac-niu,
.filter-num-zodiac-hu,
.filter-num-zodiac-tu,
.filter-num-zodiac-long,
.filter-num-zodiac-she,
.filter-num-zodiac-ma,
.filter-num-zodiac-yang,
.filter-num-zodiac-hou,
.filter-num-zodiac-ji,
.filter-num-zodiac-gou,
.filter-num-zodiac-zhu {
    border: 1px solid #E0E0E0;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.filter-num-zodiac-niu {
    border-left: none;
}

.filter-num-zodiac-hu {
    border-left: none;
}

.filter-num-zodiac-tu,
.filter-num-zodiac-ma,
.filter-num-zodiac-ji {
    border-top: none;
}

.filter-num-zodiac-long,
.filter-num-zodiac-she,
.filter-num-zodiac-yang,
.filter-num-zodiac-hou,
.filter-num-zodiac-gou,
.filter-num-zodiac-zhu {
    border-left: none;
    border-top: none;
}

.filter-num-input-title {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 9px;
}

.filter-num-input {
    width: 90px;
    height: 30px;
    background: #EFEFEF;
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
}

.filter-num-reset-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(/static/lottery/images/reset-logo.png) no-repeat;
    vertical-align: middle;
    margin-right: 4px;
}

.rotate360 {
    animation: rotate360 0.6s;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.filter-num-reset {
    font-size: 12px;
    color: #666666;
    margin-top: 27px;
    cursor: pointer;
}

.filter-num-input-wrap {
    text-align: center;
}

.filter-num-reset {
    text-align: center;
}

body.theme.lhc-body .lottery .count .total {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    padding-left: 0;
    margin-left: 35px;
    margin-right: 19px;
    padding-top: 0;
    height: 42px;
    line-height: 42px;
}

body.theme.lhc-body .lottery .count .clickType-per {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    padding-left: 0;
    margin-left: 27px;
    padding-top: 0;
    height: 42px;
    line-height: 42px;
}

body.theme.lhc-body .lottery .count .clickType-per.hide {
    visibility: hidden;
}

.clickType-per-input {
    background: #EFEFEF;
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    border-radius: 2px;
    width: 90px;
    height: 30px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    -moz-appearance: textfield;
}

body.theme.lhc-body .lottery .count .confirm,
body.theme.lhc-body .lottery .count .quickSubmit {
    float: left;
    cursor: pointer;
    width: 120px;
    height: 42px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    padding: 0;
    background: linear-gradient(-180deg, #C55F5F 0%, #923030 100%);
    border: 1px solid #B21818;
    border-radius: 4px;
}

body.theme.lhc-body .lottery .count .confirm.disabled,
body.theme.lhc-body .lottery .count .quickSubmit.disabled,
body.theme.lhc-body .lottery .bottom .submit.disabled {
    color: #999;
    background: linear-gradient(-180deg, #FAFAFA 0%, #F5F5F5 100%);
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

body.theme.lhc-body .lottery .count .confirm.disabled:hover,
body.theme.lhc-body .lottery .count .quickSubmit.disabled:hover,
body.theme.lhc-body .lottery .bottom .submit.disabled:hover {
    cursor: not-allowed;
    color: #999;
    background: linear-gradient(-180deg, #FAFAFA 0%, #F5F5F5 100%);
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

body.theme.lhc-body .lottery .count .confirm:hover,
body.theme.lhc-body .lottery .count .quickSubmit:hover {
    background: linear-gradient(-180deg, #DA7B7B 0%, #B24444 100%);
    border: 1px solid #B21818;
    color: #FFFFFF;
}

body.theme.lhc-body .lottery .count .confirm:active,
body.theme.lhc-body .lottery .count .quickSubmit:active {
    background: linear-gradient(-1deg, #B74D4D 0%, #812525 100%);
    border: 1px solid #B21818;
    color: #FFFFFF;
}

body.theme.lhc-body .lottery .orders .list {
    width: 797px;
    height: 256px;
}

body.theme.lhc-body .lottery .orders .list .title span.codes,
body.theme.lhc-body .lottery .orders .list .title span.odd,
body.theme.lhc-body .lottery .orders .list .title span.money,
body.theme.lhc-body .lottery .orders .list ul div.codes,
body.theme.lhc-body .lottery .orders .list ul div.odd,
body.theme.lhc-body .lottery .orders .list ul div.money {
    width: 31.6%;
}

body.theme.lhc-body .lottery .orders .bottom {
    width: 343px;
}

body.theme.lhc-body .lottery .orders .bottom>div:first-child {
    width: 343px;
}

body.theme.lhc-body .lottery .orders .totalMoney label {
    width: 343px;
}

body.theme.lhc-body .lottery .orders .countTime {
    width: 343px;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    margin-top: 12px;
}

body.theme.lhc-body .lottery .bottom .submit {
    width: 257px;
    height: 42px;
    line-height: 42px;
    background: linear-gradient(-180deg, #C55F5F 0%, #923030 100%);
    border: 1px solid #B21818;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

body.theme.lhc-body .lottery .bottom .submit:hover {
    background: linear-gradient(-180deg, #DA7B7B 0%, #B24444 100%);
    color: #fff;
}

body.theme.lhc-body .lottery .bottom .submit:active {
    background: linear-gradient(-1deg, #B74D4D 0%, #812525 100%);
    color: #fff;
}

body.theme.lhc-body .lottery .orders .bottom .hand {
    margin-left: 40px;
    margin-top: 10px;
    color: #666666;
}

body.theme.lhc-body div.trace-data {
    width: 1200px;
    border-radius: 0;
}

body.theme.lhc-body .trace-tab li {
    border-radius: 0;
}

body.theme.lhc-body .trace-list {
    width: 1200px;
}

body.theme.lhc-body .trace-fixed span.chk,
body.theme.lhc-body .trace-items li span.chk {
    width: 172px;
}

body.theme.lhc-body .trace-data .trace-fixed span.wide,
body.theme.lhc-body .trace-data .trace-items li span.wide {
    width: 263px;
}

body.theme.lhc-body .trace-fixed span.medium,
body.theme.lhc-body .trace-items li span.medium {
    width: 243px;
}

.trace-data.lhc-body .trace-fixed span.wide,
.trace-data.lhc-body .trace-items li span.wide {
    width: 263px;
}

body.theme.lhc-body .trace-fixed>span,
body.theme.lhc-body .trace-items li>span {
    width: 230px;
}

body.theme.lhc-body .trace-fixed span.chk {
    text-align: left;
    margin-left: 10px;
}

body.theme.lhc-body .trace-data .trace-items li span.wide {
    margin-left: 0;
    margin-right: 0;
}

body.theme.lhc-body .trace-items li span.medium {
    margin-left: 10px;
}

body.theme.lhc-body div.trace-data a#lgenTrace {
    right: 320px;
}

body.theme.lhc-body .lottery .orders .trace-data .submit {
    right: 60px;
}

body.theme.lhc-body .lottery .orders .trace-data .hand {
    right: 200px;
}

body.theme.lhc-body .orders ul.trace-tab li.disabled {
    opacity: 0;
}

body.theme.lhc-body .lottery .count a.quickSubmit.loading:before {
    left: 12px;
}

body.theme.lhc-body .lottery .orders .bottom .trace-icon:after {
    content: '';
    background: url(/static/xglhc/images/zhktgzjl.svg) no-repeat;
    width: 142px;
    left: 100px;
}

body.theme.lhc-body .lottery .orders .list ul {
    overflow-y: auto;
}

body.theme.lhc-body .lottery .orders {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}