.bet-option-wrapper {
    color: #424242;
    font-size: 16px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e0e6ed;
    border-top: 1px solid #e0e6ed;
    padding: 10px 20px;

    .left-wrapper {
        .left-top-wrapper {
            .piece-input {
                margin-left: 20px;

                .text {
                    margin-right: 5px;
                }
            }

            .odd-select {
                margin-left: 20px;

                .text {
                    margin-right: 5px;
                }
            }
        }

        .left-bottom-wrapper {
            margin-top: 20px;
            font-size: 14px;

            .count, .piece, .money {
                font-size: 16px;
                color: #d24454;
                margin: 0 6px;
                font-weight: 700;
            }
        }
    }

    .right-wrapper {
        .quick-bet {
            width: 120px;
            height: 32px;
            line-height: 32px;
            padding-left: 30px;
            background: url('../../../images/lottery/button.png') no-repeat -149px 0;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            text-align: center;

            &.disabled {
                cursor: not-allowed;
                background-position: -2px 0;
                color: #666;

                &:hover {
                    background-position: -2px 0;
                }
            }

            &:hover {
                background-position: -296px 0;
            }

            &:active {
                background-position: -443px 0;
            }
        }

        .add-order {
            width: 120px;
            height: 32px;
            line-height: 32px;
            padding-left: 30px;
            background: url('../../../images/lottery/button.png') no-repeat -151px -68px;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            text-align: center;
            margin-top: 10px;

            &.disabled {
                cursor: not-allowed;
                background-position: -2px -68px;
                color: #666;

                &:hover {
                    background-position: -2px -68px;
                }
            }

            &:hover {
                background-position: -301px -68px;
            }

            &:active {
                background-position: -443px -68px;
            }
        }
    }
}