.lottery-plate-wrapper {
    width: 794px;

    .tab-wrapper {
        height: 36px;
        line-height: 36px;
        background-color: #eee;
        border-top: 1px solid #e0e6ed;
        border-bottom: 1px solid #e0e6ed;

        .tab {
            line-height: 32px;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            color: #666;
            padding: 0 8px;
            border-top: 3px solid transparent;

            &.active {
                background-color: #fff;
                color: #ed292d;
                border-top: 3px solid #ed292d;
                border-bottom: 1px solid #fff;
            }
        }

        .tab-more {
            height: 25px;
            line-height: 25px;
            background-color: #fff;
            border: 1px solid #e0e6ed;
            font-size: 12px;
            color: #d81f1f;
            cursor: pointer;
            outline: 0;
            border-radius: 4px;
            padding: 0 8px;
            margin-right: 4px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            .more-icon {
                display: inline-block;
                position: relative;
                top: 2px;
                margin-right: 4px;
                width: 12px;
                height: 12px;
                background: url('../../../images/lottery/new_lottery_common.png') -114px -16px no-repeat;
            }
        }

        .tab-race-control {
            background-color: #333;
            color: #fff;
            cursor: pointer;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            font-size: 12px;
            height: 22px;
            line-height: 22px;
            padding: 0 8px;
        }
    }

    .subTab-wrapper {
        padding: 8px 0 8px 20px;

        .subTab-item {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .subTab-item-title {
            width: 90px;
            font-size: 14px;
            color: #727272;
            text-align: left;
        }

        .subTab-item-way {
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            color: #333;
            text-align: center;
            margin-right: 8px;
            min-width: 60px;
            cursor: pointer;
            text-align: center;
            font-size: 14px;

            &.active {
                background-color: #c93231;
                color: #fff;
                border-color: #c93231;
            }

            &[method='dxds_dxds_h2'], &[method='dxds_dxds_q2'], &[method='dxds_dxds_h3'], &[method='dxds_dxds_q3'], &[method='qw_ts_yffs'], &[method='qw_ts_hscs'], &[method='zh_hzdxds_5xhz'], &[method='zh_hzdxds_q3hz'], &[method='zh_hzdxds_z3hz'], &[method='zh_hzdxds_h3hz'], &[method='dxds_dxgs_h2'], &[method='dxds_dxgs_q2'], &[method='dxds_dxgs_h3'], &[method='dxds_dxgs_q3'], &[method='dxds_dxgs_wx'], &[method='dxds_dxgs_sx'], &[method='dxds_dxgs_qs'], &[method='dxds_dxgs_zs'], &[method='dxds_dxgs_hs'], &[method='dxds_dsgs_wx'], &[method='dxds_dsgs_sx'], &[method='dxds_dsgs_qs'], &[method='dxds_dsgs_zs'], &[method='dxds_dsgs_hs'], &[method='bdd_bdd_qs1'], &[method='bdd_bdd_qs2'], &[method='bdd_bdd_zs1'], &[method='bdd_bdd_zs2'], &[method='bdd_bdd_hs1'], &[method='bdd_bdd_hs2'], &[method='bdd_bdd_4x1'], &[method='bdd_bdd_4x2'], &[method='bdd_bdd_4x3'], &[method='bdd_bdd_5x1'], &[method='bdd_bdd_5x2'], &[method='bdd_bdd_5x3'] {
                width: 105px;
            }

            &[method='em_em_zxfs'], &[method='em_em_zxds'], &[method='em_em_zuxfs'], &[method='em_em_zuxds'], &[method='sm_sm_zxfs'], &[method='sm_sm_zxds'], &[method='sm_sm_zuxfs'], &[method='sm_sm_zuxds'] {
                width: 105px;
            }

            &[method='dwd_dwd_q5'], &[method='dwd_dwd_h5'] {
                width: 105px;
            }

            &[method='dx_dx_q2'], &[method='ds_ds_q2'], &[method='hz_hz_q2'], &[method='hz_hz_q3'] {
                width: 105px;
            }

            &[method='em_zx_hfs'], &[method='em_zx_hds'], &[method='em_zx_qfs'], &[method='em_zx_qds'] {
                width: 105px;
            }

            &[method='em_zux_hfs'], &[method='em_zux_hds'], &[method='em_zux_qfs'], &[method='em_zux_qds'] {
                width: 105px;
            }
        }
    }

    .tip-hot-wrapper {
        padding: 12px 0 0 20px;
        border-top: 1px solid #e0e6ed;

        .tip-title {
            font-size: 12px;
            vertical-align: middle;
            font-weight: lighter;
            color: #444;
            margin-right: 5px;
        }

        .tip-icon, .miss-icon {
            display: inline-block;
            vertical-align: middle;
            width: 14px;
            height: 14px;
            background: url('../../../images/lottery/button.png') no-repeat -14px -555px;

            &:hover {
                background-position: -51px -555px;
            }
        }

        .miss-hot {
            margin-left: 30px;
            color: #444;

            .miss-text, .hot-text {
                margin: 0 4px;
            }
        }

        .miss {
            margin-right: 5px;
        }

        .miss, .hot {
            vertical-align: middle;
        }
    }

    .pos-select-wrapper {
        padding: 0 0 0 20px;
        height: 60px;
        line-height: 60px;

        .pos-select-title {
            margin-right: 35px;
        }

        .pos-select-list {
            color: #565656;
            font-size: 12px;
            width: 280px;
        }

        .pos-select-tip {
            margin-left: 30px;
        }
    }

    .plate-wrapper {
        display: flex;
        align-items: center;
        min-height: 140px;
        padding: 15px 10px;
        overflow: hidden;

        .plate-wrapper-inner {
            width: 100%;
        }

        .plate-item {
            padding: 7px 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;

                .plate-item-nums[method='dwd_dwd_dwd'], .plate-item-nums[method='dwd_dwd_dwd11y'], .plate-item-nums[method='dwd_dwd_q5'], .plate-item-nums[method='dwd_dwd_h5'] {
                    .plate-item-num {
                        width: 26px;
                        height: 26px;
                        line-height: 26px;
                        margin: 4px 9px;
                        background: url('../../../images/lottery/all-num.png') no-repeat center;
                        background-size: 26px;
                        font-size: 18px;

                        &.active {
                            background: url('../../../images/lottery/all-num-on.png') no-repeat center;
                            background-size: 26px;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .plate-item-pos {
            width: 60px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            font-size: 12px;
            color: #666;

            &.qw {
                height: 65px;
                line-height: 65px;
            }

            &.longhu {
                height: 143px;
                line-height: 143px;
            }
        }

        .plate-item-nums[method='qsm_zx_hz'], .plate-item-nums[method='qsm_zux_hz'], .plate-item-nums[method='zsm_zx_hz'], .plate-item-nums[method='zsm_zux_hz'], .plate-item-nums[method='hsm_zx_hz'], .plate-item-nums[method='hsm_zux_hz'] {
            width: 700px;

            .plate-item-num {
                margin-bottom: 14px;
            }
        }

        .plate-item-nums[method='hz_hz_q2'], .plate-item-nums[method='hz_hz_q3'] {
            width: 600px;

            .plate-item-num {
                margin-bottom: 14px;
            }
        }

        .plate-item-nums[method='qw_qw_dds'] {
            .plate-item-num {
                width: 60px;
                height: 32px;
                line-height: 32px;
                background: #fff;
                border: 1px solid #e0e0e0;
                border-radius: 6px;
                font-family: 'Microsoft Yahei';
                font-size: 14px;
                color: #333;

                &:hover {
                    background-color: #ffdddc;
                    border: 1px solid #ffcbc9;
                }

                &.active {
                    background: linear-gradient(to bottom, #e2423b, #c63030 53%, #ac1b1b);
                    border: 1px solid #972626;
                    border-radius: 6px;
                    color: #fff;
                    box-shadow: 0 1px 1px 0 rgba(236, 236, 236, 0.39), inset 0 1px 1px 1px rgba(255, 255, 255, 0.42);
                }
            }
        }

        .plate-item-nums[method='rx2_zx_hz'], .plate-item-nums[method='rx2_zux_hz'], .plate-item-nums[method='rx3_zx_hz'], .plate-item-nums[method='rx3_zux_hz'], .plate-item-nums[method='rx4_zx_hz'], .plate-item-nums[method='rx2_zux_hz'] {
            width: 600px;

            .plate-item-num {
                margin-bottom: 14px;
            }
        }

        .plate-item-nums[method='zh_hzdxds_5xhz'] {
            width: 356px;

            .plate-item-num-qw {
                margin-bottom: 14px;
                width: 65px;
                padding: 0;
            }
        }

        .plate-item-nums[method='nn_nn_nn'] {
            width: 410px;

            .plate-item-num-qw {
                margin-bottom: 14px;
                width: 65px;
                padding: 0;
            }
        }

        .plate-item-num {
            width: 34px;
            height: 34px;
            line-height: 36px;
            margin: 0 5px;
            background: url('../../../images/lottery/ball.svg') no-repeat;
            background-size: 34px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            color: #878787;
            text-align: center;
            font-style: normal;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background: url('../../../images/lottery/ball-hover.svg') no-repeat;
                background-size: 34px;
            }

            &.active {
                background: url('../../../images/lottery/ball-active.svg') no-repeat;
                background-size: 34px;
                color: #fff;
            }

            &[m-method='qw_xt_xt_bz'], &[m-method='qw_xt_xt_sz'], &[m-method='qw_xt_xt_dz'], &[m-method='qw_xt_xt_zl'], &[m-method='qw_xt_xt_bs'] {
                font-size: 14px;
            }
        }

        .plate-item-num-qw {
            height: 65px;
            margin: 0 0 0 8px;
            padding: 0 15px;
            background: linear-gradient(to bottom, #fff, #e9edef);
            border: 1px solid #e4e4e4;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background: linear-gradient(to bottom, #fdf3f3, #f3d7d7);
                border-color: #e8c5c5;
            }

            .qw-text {
                width: 25px;
                height: 25px;
                margin: auto;
                margin-top: 8px;
                background-image: url('../../../images/lottery/QWWF.png');
                background-repeat: no-repeat;

                &[value='庄'] {
                    width: 25px;
                    background-position: 0 -356px;
                }

                &[value='闲'] {
                    width: 25px;
                    background-position: -32px -356px;
                }

                &[value='和'] {
                    width: 25px;
                    background-position: -63px -356px;
                }

                &[value='庄对'] {
                    width: 50px;
                    background-position: -96px -356px;
                }

                &[value='闲对'] {
                    width: 50px;
                    background-position: -153px -356px;
                }

                &[value='S6'] {
                    width: 50px;
                    background-position: -203px -356px;
                }

                &[value='三条'] {
                    width: 50px;
                    background-position: -179px -215px;
                }

                &[value='两对'] {
                    width: 50px;
                    background-position: -239px -215px;
                }

                &[value='一对'] {
                    width: 50px;
                    background-position: -299px -215px;
                }

                &[value='单牌'] {
                    width: 50px;
                    background-position: -358px -215px;
                }

                &[value='大'] {
                    background-position: 1px -632px;
                }

                &[value='小'] {
                    background-position: -32px -632px;
                }

                &[value='单'] {
                    background-position: -65px -632px;
                }

                &[value='双'] {
                    background-position: -98px -632px;
                }

                &[value='全大'], &[value='3大0小'], &[value='4大0小'], &[value='5大0小'] {
                    width: 50px;
                    background-position: 0 -701px;
                }

                &[value='全小'], &[value='0大3小'], &[value='0大4小'], &[value='0大5小'] {
                    width: 50px;
                    background-position: -59px -701px;
                }

                &[value='4大1小'] {
                    width: 64px;
                    background-position: 0 -768px;
                }

                &[value='3大2小'] {
                    width: 64px;
                    background-position: -72px -768px;
                }

                &[value='1大4小'] {
                    width: 64px;
                    background-position: -217px -768px;
                }

                &[value='2大3小'] {
                    width: 64px;
                    background-position: -145px -768px;
                }

                &[value='3大1小'] {
                    width: 64px;
                    background-position: -290px -768px;
                }

                &[value='2大2小'] {
                    width: 64px;
                    background-position: -363px -768px;
                }

                &[value='1大3小'] {
                    width: 64px;
                    background-position: -436px -768px;
                }

                &[value='2大1小'] {
                    width: 64px;
                    background-position: -508px -768px;
                }

                &[value='1大2小'] {
                    width: 64px;
                    background-position: -580px -768px;
                }

                &[value='全单'], &[value='3单0双'], &[value='4单0双'], &[value='5单0双'] {
                    width: 50px;
                    background-position: -118px -701px;
                }

                &[value='全双'], &[value='0单3双'], &[value='0单4双'], &[value='0单5双'] {
                    width: 50px;
                    background-position: -178px -701px;
                }

                &[value='4单1双'] {
                    width: 64px;
                    background-position: 0 -830px;
                }

                &[value='3单2双'] {
                    width: 64px;
                    background-position: -72px -830px;
                }

                &[value='1单4双'] {
                    width: 64px;
                    background-position: -217px -830px;
                }

                &[value='2单3双'] {
                    width: 64px;
                    background-position: -145px -830px;
                }

                &[value='3单1双'] {
                    width: 64px;
                    background-position: -290px -830px;
                }

                &[value='2单2双'] {
                    width: 64px;
                    background-position: -363px -830px;
                }

                &[value='1单3双'] {
                    width: 64px;
                    background-position: -436px -830px;
                }

                &[value='2单1双'] {
                    width: 64px;
                    background-position: -508px -830px;
                }

                &[value='1单2双'] {
                    width: 64px;
                    background-position: -580px -830px;
                }

                &[value='大单'] {
                    width: 50px;
                    background-position: -131px -632px;
                }

                &[value='大双'] {
                    width: 50px;
                    background-position: -189px -632px;
                }

                &[value='小单'] {
                    width: 50px;
                    background-position: -247px -632px;
                }

                &[value='小双'] {
                    width: 50px;
                    background-position: -305px -632px;
                }

                &[value='顺子'] {
                    width: 50px;
                    background-position: -59px -285px;
                }

                &[value='对子'] {
                    width: 50px;
                    background-position: -119px -285px;
                }

                &[value='半顺'] {
                    width: 50px;
                    background-position: -180px -285px;
                }

                &[value='杂六'] {
                    width: 50px;
                    background-position: -238px -285px;
                }

                &[value='牛大'] {
                    width: 50px;
                    background-position: 1px -425px;
                }

                &[value='牛小'] {
                    width: 50px;
                    background-position: -56px -425px;
                }

                &[value='牛单'] {
                    width: 50px;
                    background-position: -114px -425px;
                }

                &[value='牛双'] {
                    width: 50px;
                    background-position: -172px -425px;
                }

                &[value='无牛'] {
                    width: 50px;
                    background-position: -230px -425px;
                }

                &[value='牛1'] {
                    width: 50px;
                    background-position: 1px -495px;
                }

                &[value='牛2'] {
                    width: 50px;
                    background-position: -56px -495px;
                }

                &[value='牛3'] {
                    width: 50px;
                    background-position: -114px -495px;
                }

                &[value='牛4'] {
                    width: 50px;
                    background-position: -172px -495px;
                }

                &[value='牛5'] {
                    width: 50px;
                    background-position: -230px -495px;
                }

                &[value='牛6'] {
                    width: 50px;
                    background-position: 1px -565px;
                }

                &[value='牛7'] {
                    width: 50px;
                    background-position: -56px -565px;
                }

                &[value='牛8'] {
                    width: 50px;
                    background-position: -114px -565px;
                }

                &[value='牛9'] {
                    width: 50px;
                    background-position: -172px -565px;
                }

                &[value='牛牛'] {
                    width: 50px;
                    background-position: -230px -565px;
                }
            }

            .qw-odd {
                width: 100%;
                height: 20px;
                line-height: 20px;
                margin-top: 5px;
                font-size: 12px;
                color: #737373;
                text-align: center;
            }

            &.active {
                .qw-text {
                    &[value='庄'] {
                        background-position: 0 -389px;
                    }

                    &[value='闲'] {
                        background-position: -32px -389px;
                    }

                    &[value='和'] {
                        background-position: -63px -389px;
                    }

                    &[value='庄对'] {
                        background-position: -96px -389px;
                    }

                    &[value='闲对'] {
                        background-position: -153px -389px;
                    }

                    &[value='S6'] {
                        background-position: -203px -389px;
                    }

                    &[value='三条'] {
                        background-position: -179px -249px;
                    }

                    &[value='两对'] {
                        background-position: -239px -249px;
                    }

                    &[value='单牌'] {
                        background-position: -358px -249px;
                    }

                    &[value='一对'] {
                        background-position: -299px -249px;
                    }

                    &[value='大单'] {
                        background-position: -131px -666px;
                    }

                    &[value='大双'] {
                        background-position: -189px -666px;
                    }

                    &[value='小单'] {
                        background-position: -247px -666px;
                    }

                    &[value='小双'] {
                        background-position: -305px -666px;
                    }

                    &[value='顺子'] {
                        background-position: -59px -322px;
                    }

                    &[value='对子'] {
                        background-position: -119px -322px;
                    }

                    &[value='半顺'] {
                        background-position: -180px -322px;
                    }

                    &[value='杂六'] {
                        background-position: -238px -322px;
                    }

                    &[value='牛大'] {
                        background-position: 1px -459px;
                    }

                    &[value='全单'], &[value='3单0双'], &[value='4单0双'], &[value='5单0双'] {
                        background-position: -118px -735px;
                    }

                    &[value='全双'], &[value='0单3双'], &[value='0单4双'], &[value='0单5双'] {
                        background-position: -178px -735px;
                    }

                    &[value='4单1双'] {
                        background-position: 0 -860px;
                    }

                    &[value='3单2双'] {
                        background-position: -72px -860px;
                    }

                    &[value='1单4双'] {
                        background-position: -217px -860px;
                    }

                    &[value='2单3双'] {
                        background-position: -145px -860px;
                    }

                    &[value='3单1双'] {
                        background-position: -290px -860px;
                    }

                    &[value='2单2双'] {
                        background-position: -363px -860px;
                    }

                    &[value='1单3双'] {
                        background-position: -436px -860px;
                    }

                    &[value='2单1双'] {
                        background-position: -508px -860px;
                    }

                    &[value='1单2双'] {
                        background-position: -580px -860px;
                    }

                    &[value='全大'], &[value='3大0小'], &[value='4大0小'], &[value='5大0小'] {
                        width: 64px;
                        background-position: 0 -735px;
                    }

                    &[value='全小'], &[value='0大3小'], &[value='0大4小'], &[value='0大5小'] {
                        width: 50px;
                        background-position: -59px -735px;
                    }

                    &[value='4大1小'] {
                        background-position: 0 -797px;
                    }

                    &[value='3大2小'] {
                        background-position: -72px -797px;
                    }

                    &[value='1大4小'] {
                        background-position: -217px -797px;
                    }

                    &[value='2大3小'] {
                        background-position: -145px -797px;
                    }

                    &[value='3大1小'] {
                        background-position: -290px -797px;
                    }

                    &[value='2大2小'] {
                        background-position: -363px -797px;
                    }

                    &[value='1大3小'] {
                        background-position: -436px -797px;
                    }

                    &[value='2大1小'] {
                        background-position: -508px -797px;
                    }

                    &[value='1大2小'] {
                        background-position: -580px -797px;
                    }

                    &[value='大'] {
                        background-position: 1px -666px;
                    }

                    &[value='小'] {
                        background-position: -32px -666px;
                    }

                    &[value='单'] {
                        background-position: -65px -666px;
                    }

                    &[value='双'] {
                        background-position: -98px -666px;
                    }

                    &[value='全大'], &[value='3大0小'], &[value='4大0小'], &[value='5大0小'] {
                        width: 64px;
                        background-position: 0 -735px;
                    }

                    &[value='全小'], &[value='0大3小'], &[value='0大4小'], &[value='0大5小'] {
                        width: 50px;
                        background-position: -59px -735px;
                    }

                    &[value='4大1小'] {
                        background-position: 0 -797px;
                    }

                    &[value='3大2小'] {
                        background-position: -72px -797px;
                    }

                    &[value='1大4小'] {
                        background-position: -217px -797px;
                    }

                    &[value='2大3小'] {
                        background-position: -145px -797px;
                    }

                    &[value='3大1小'] {
                        background-position: -290px -797px;
                    }

                    &[value='2大2小'] {
                        background-position: -363px -797px;
                    }

                    &[value='1大3小'] {
                        background-position: -436px -797px;
                    }

                    &[value='2大1小'] {
                        background-position: -508px -797px;
                    }

                    &[value='1大2小'] {
                        background-position: -580px -797px;
                    }

                    &[value='牛小'] {
                        background-position: -56px -459px;
                    }

                    &[value='牛单'] {
                        background-position: -114px -459px;
                    }

                    &[value='牛双'] {
                        background-position: -172px -459px;
                    }

                    &[value='无牛'] {
                        background-position: -230px -459px;
                    }

                    &[value='牛1'] {
                        background-position: 1px -528px;
                    }

                    &[value='牛2'] {
                        background-position: -56px -528px;
                    }

                    &[value='牛3'] {
                        background-position: -114px -528px;
                    }

                    &[value='牛4'] {
                        background-position: -172px -528px;
                    }

                    &[value='牛5'] {
                        background-position: -230px -528px;
                    }

                    &[value='牛6'] {
                        background-position: 1px -597px;
                    }

                    &[value='牛7'] {
                        background-position: -56px -597px;
                    }

                    &[value='牛8'] {
                        background-position: -114px -597px;
                    }

                    &[value='牛9'] {
                        background-position: -172px -597px;
                    }

                    &[value='牛牛'] {
                        background-position: -230px -597px;
                    }
                }
            }
        }

        .plate-item-num-longhu {
            width: 115px;
            height: 143px;
            background: 0 0;
            margin: 0 0 0 20px;

            &.active {
                border: none;
                height: 143px;

                &[value='龙'] {
                    background: url('../../../images/lottery/QWWF.png') 0 -62px no-repeat;
                }

                &[value='虎'] {
                    background: url('../../../images/lottery/QWWF.png') -125px -62px no-repeat;
                }

                .num-longhu-inner {
                    background: transparent;
                    border: none;
                }

                .longhu-text {
                    background: 0 0;
                }

                .longhu-pos-wrapper {
                    .longhu-pos {
                        border-color: #fba7a7;

                        &.active {
                            background-color: #fff;
                            border-color: #fff;
                        }
                    }
                }

                .longhu-odd {
                    color: #fff;
                }
            }
        }

        .num-longhu-inner {
            display: inline-block;
            width: 115px;
            height: 115px;
            margin-top: 28px;
            background: linear-gradient(to bottom, #fff, #e9edef);
            border: 1px solid #e4e4e4;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background: linear-gradient(to bottom, #fdf3f3, #f3d7d7);
                border-color: #e8c5c5;
            }

            .longhu-pos-wrapper {
                width: 100%;
                height: 10px;
                margin: 9px 0 13px 0;

                .longhu-pos {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;
                    border-radius: 50%;
                    border: 1px solid #c6c6c6;
                    vertical-align: top;

                    &:last-child {
                        margin-right: 0;
                    }

                    &.active {
                        background-color: #a9a9a9;
                    }
                }
            }

            .longhu-text {
                display: inline-block;
                width: 60px;
                height: 54px;
                background-repeat: no-repeat;
                vertical-align: top;
                background-image: url('../../../images/lottery/QWWF.png');

                &[value='龙'] {
                    background-position: 2px 0;
                }

                &[value='虎'] {
                    background-position: -57px 0;
                }
            }

            .longhu-odd {
                display: inline-block;
                width: 100%;
                height: 20px;
                line-height: 20px;
                margin-top: 5px;
                font-size: 12px;
                color: #737373;
                vertical-align: top;
            }
        }

        .plate-item-filters {
            height: 34px;

            &.qw {
                height: 65px;
            }

            &.longhu {
                height: 143px;
            }
        }

        .plate-item-filter {
            width: 26px;
            height: 26px;
            line-height: 24px;
            border: 1px solid #e0e6ed;
            margin-right: 4px;
            padding: 0;
            font-size: 14px;
            color: #666;
            outline: 0;
            cursor: pointer;
            border-radius: 4px;
            background-color: #fff;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            &:hover {
                border: 1px solid #d4cdc0;
            }

            &.active {
                color: #fff;
                background-color: #c7484a;
                border-color: #c7484a;
            }
        }

        .input-plate-wrapper {
            width: 760px;
            height: 157px;
            border-radius: 10px;
            border: 1px solid #bcaaa4;
            cursor: text;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 8px;

            .input-value-list {
                top: 0;
                left: 0;
                width: 100%;
            }

            textarea.ant-input {
                outline: 0;
                border: none;
                resize: none;
            }

            .ant-input:hover {
                border-color: transparent;
                border-right-width: 0 !important;
            }

            .ant-input:focus {
                border-color: none;
                outline: 0;
                box-shadow: none;
                border-right-width: 0 !important;
            }

            .input-value-item {
                font-size: 12px;
                color: #676767;
                background: #dadada;
                line-height: 21px;
                margin-right: 5px;
                margin-bottom: 3px;
                padding: 0 2px 0 8px;
                border-radius: 3px;
                float: left;
                height: 21px;

                .close {
                    cursor: pointer;
                    font-family: 'Microsoft Yahei';
                    font-size: 13px;
                    padding: 0 3px;
                    font-weight: 700;
                    color: #e74c3c;
                    opacity: 0.5;
                    position: relative;
                    top: -1px;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .hot-skip-item {
            .hot-skip-title {
                width: 60px;
                text-align: center;

                .title {
                    color: #666;
                    background-color: #eee;
                    font-size: 12px;
                    padding: 2px 6px;
                }
            }

            .hot-skip-num {
                width: 34px;
                height: 16px;
                line-height: 16px;
                margin: 0 5px;
                color: #99a9bf;
                font-size: 12px;
                text-align: center;
                font-style: normal;
                font-weight: lighter;

                &.max {
                    color: #ea4040;
                }

                &.min {
                    color: #12a821;
                }
            }
        }
    }

    .plate-item-nums {
        &[method='th3_th3_th3dx'], &[method='th3_th3_th3tx'] {
            .k3-chips {
                width: 80px;
                height: 80px;

                .k3-chip:nth-child(1) {
                    margin: 6px 26px 7px 26px;
                }

                .k3-chip:nth-child(2) {
                    margin: 7px 7px 6px 6px;
                }

                .k3-chip:nth-child(3) {
                    margin: 7px 6px 6px 7px;
                }
            }
        }

        &[method='th3_th3_th3tx'] {
            .k3-plate-item-num {
                padding: 0 30px;
            }
        }

        &[method='th2_th2dx_ds'], &[method='bth3_bth3_ds'], &[method='bth3_lh3_dx'], &[method='bth3_bs_dx'], &[method='bth3_z6_dx'] {
            .k3-plate-item-num {
                padding: 5px;
                margin-bottom: 14px;

                .k3-chips {
                    width: auto;
                    height: 26px;

                    .k3-chip {
                        margin: 0 4px;
                    }
                }
            }
        }

        &[method='bth3_bth3_ds'], &[method='th2_th2dx_ds'] {
            width: 560px;
        }

        &[method='bth3_bs_dx'] {
            width: 400px;
        }

        &[method='bth3_lh3_tx'], &[method='bth3_bs_tx'], &[method='bth3_z6_tx'] {
            .k3-plate-item-num {
                padding: 5px;

                .k3-chips {
                    width: auto;
                    height: 26px;
                    margin: 0 8px;

                    .k3-chip {
                        margin: 0 4px;
                    }
                }
            }
        }

        &[method='bth3_bs_tx'] {
            width: 488px;

            .k3-plate-item-num {
                padding: 0 10px;

                .k3-chips {
                    margin: 6px;
                }
            }
        }

        &[method='bth3_bth3_fs'] {
            .k3-plate-item-num {
                padding: 6px 26px;
            }
        }

        &[method='th2_th2dx_fs'] {
            .k3-chips {
                padding: 0 5px;

                &[value='1'], &[value='2'], &[value='3'], &[value='4'], &[value='5'], &[value='6'] {
                    padding: 0 23px;
                }

                .k3-chip {
                    margin: 5px;
                }
            }
        }

        &[method='bth2_bth2_fs'], &[method='cygh_cygh_cygh'] {
            .k3-chips {
                padding: 0 23px;

                .k3-chip {
                    margin: 5px;
                }
            }
        }

        &[method='th2_th2fx_fx'], &[method='bth2_bth2_ds'] {
            .k3-chips {
                padding: 0 5px;

                .k3-chip {
                    margin: 5px;
                }
            }
        }

        &[method='bth2_bth2_ds'] {
            width: 500px;

            .k3-plate-item-num {
                margin-bottom: 14px;
            }
        }
    }

    .k3-plate-item-num {
        background: #f0f0f0;
        margin: 0 5px;
        border-radius: 3px;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        cursor: pointer;

        &:hover {
            background: #ffdddc;
            border: 1px solid #ffcbc9;
        }

        .k3-chip {
            width: 26px;
            height: 26px;
            background: url('../../../images/lottery/dice.png') no-repeat;
            font-size: 0;
        }

        .k3-chip[value='1'] {
            background-position: 0 -133px;
        }

        .k3-chip[value='2'] {
            background-position: -29px -133px;
        }

        .k3-chip[value='3'] {
            background-position: -58px -133px;
        }

        .k3-chip[value='4'] {
            background-position: -87px -133px;
        }

        .k3-chip[value='5'] {
            background-position: -116px -133px;
        }

        .k3-chip[value='6'] {
            background-position: -145px -133px;
        }

        &.active {
            background: linear-gradient(to bottom, #ca1413, #8c0103);
            border: 1px solid #830202;
        }
    }
}

@keyframes ballScale {
    0% {
        transform: scale(0.4);
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}