.global-foot {
  width: 100%;
}

.global-foot footer {
  .footer-img-wrap {
    padding: 10px 0;
  }

  .footer-about-wrap {
    background: #000;
  }

  .footer-img {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    background: url('../images/foot/bottom-icons.png') center center no-repeat;
  }

  .footer-about {
    width: 1200px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
  }

  .footer-about .logo-bottom {
    display: inline-block;
    width: 148px;
    height: 25px;
    margin: 18px 25px 0 0;
    background: url('../images/all-icon.png') 0 -363px no-repeat;
    vertical-align: top;
  }

  .footer-about ul.footer-contract-ul {
    display: inline-block;
    font-size: 14px;
    color: #fff;
  }

  .footer-about ul.footer-contract-ul>li {
    margin-right: 25px;
  }

  .footer-about ul.footer-contract-ul>li a {
    font-size: 14px;
    color: #fff;
  }

  .footer-about ul.footer-contract-ul>li a i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../images/all-icon.png');
    background-repeat: no-repeat;
    vertical-align: middle;
  }

  i.icon-tel {
    background-position: 0 -399px;
  }

  i.icon-email {
    background-position: -28px -398px;
  }

  .footer-about ul.footer-contract-ul a:hover {
    text-decoration: none;
  }

  .footer-about ul.footer-link-ul {
    font-size: 14px;
    color: #999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .footer-about ul.footer-link-ul li {
    height: 14px;
    margin-left: 15px;
  }

  .footer-about ul.footer-link-ul li>a {
    font-size: 14px;
    color: #999;
    cursor: pointer;
  }

  .footer-about ul.footer-link-ul li>a:hover {
    text-decoration: underline;
  }

  .footer-copyright-wrap {
    background: #0d0d0d;
  }

  .footer-copyright {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 12px;
    color: #626262;
  }

  .footer-copyright .best {
    display: inline-block;
    width: 90px;
    height: 16px;
    background: url('../images/all-icon.png') 0 -426px no-repeat;
    vertical-align: text-bottom;
  }

  .footer-copyright .best-txt {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #626262;
  }
}

