.footer-img-wrap {
  padding: 10px 0;
}

.footer-img {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  background: url('../images/foot/bottom-icons.png') center center no-repeat;
}

@media screen and (min-height: 768px) {
  .login_footer {
    position: absolute;
    width: 100%;
    bottom: 5px;
  }
}