
.marquee-list-wrap {
  width: 800px;
  margin: 0 auto;    
  overflow: hidden;
  height: 32px;
  line-height: 32px;
}

.marquee-list {
  white-space: nowrap;
}

.animation-paused {
  animation-play-state: paused!important;
}