.input-number-updown-wrapper {
    width: 96px;
    display: inline-block;
    .input-number-updown {
        text-align: center;
    }
    .ant-input-group-addon {
        padding: 0 4px;
        width: 20px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
    }
    /* chrome */
 
    input[type="number"]{
      -moz-appearance:textfield;/* firefox */
    }

}