.index-main-slide-wrap {
    .ant-carousel .slick-prev, .ant-carousel .slick-next {
        width: 25px;
        height: 35px;
        outline: 0;
        z-index: 3;
    }

    .ant-carousel .slick-prev  {
        left: 0;
    }
    .ant-carousel .slick-next {
        right: 0;
    }
    .ant-carousel .slick-prev {
        background: url('../../images/all-icon.png') 7px -174px no-repeat rgba(35, 15, 84, 0.9);
    }

    .ant-carousel .slick-prev:hover, .ant-carousel .slick-next:hover {
        background-color: #6a3bde;
    }

    .ant-carousel .slick-next {
        background: url('../../images/all-icon.png') -12px -174px no-repeat rgba(35, 15, 84, 0.9);
    }
}