.sport-wrapper {
  background: url(../../images/sport/sb-sport-bg.png) center no-repeat;
  position: relative;
  min-height: 1300px;
}

.sport-iframe-wrapper {
  width: 1055px;
  height: 1058px;
  background: url(../../images/sport/sb-sport-border.png) center no-repeat;
  padding: 73px 25px 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}