.acc_info {
    width: 1040px;
    margin: 10px auto;
    overflow: hidden;
    background-color: #fff;
    padding: 24px 22px 8px 32px;
    font-size: 14px; 

    .ant-row {
        .ant-col-12 {
            margin-bottom:16px;
        }
       
        .l-w {
            width: 85px;
            display: inline-block;
        }
        .info-btn {
            margin-left: 15px;
        }
    } 
}
.acc_opt {
    width: 1040px;
    background-color: #fff;
    margin: 0 auto;
    padding: 24px 22px 8px 32px;
    height: 560px;

    .opt_cart-bg {
        background-color: #f0f1f5  
    }
    .ant-row {
        .ant-col-12 {
            margin-bottom:16px;
        }
    }
}