.games
    .ant-tabs-nav .ant-tabs-tab
        margin: 0 3px 0 0;
    .queryCriteria
        width: 98%
        margin: 5px auto
        background: #fff
    .ant-tabs-nav-wrap 
        background: #fff    
    .ant-select
        margin-right: 10px    
    .ant-select-selection
        width 100%    
    .queryTime
        font-size: 14px;
        color: rgba(0,0,0,0.85);
        margin: 0px 0 0 27px
        border-top:1px #e9e9e9 dashed
        padding: 20px 0
        div 
            display: inline-block
        .ant-radio-group
            margin-left: 10px
            .ant-radio-button-wrapper
                border: none
                margin: 0 10px
                border-radius:4px
                &:not(:first-child)::before
                    content: none
                &:first-child    
                    border-radius:4px
                &:last-child    
                    border-radius:4px    
    .tips
        div
            display: inline-block      
            vertical-align top      
            p
                margin-bottom 0
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
            padding: 16px 6px;
     }
    .pagination
        text-align center 
        margin: 15px 0            