@import '../../../_variables.styl'
.voucher-wapper {
    min-height: $center-min-height;
    background: $center-bg;
    overflow: hidden;

    .voucher-content {
        width: 1200px;
        margin:0 auto;
        overflow: hidden; 
        min-height: $center-min-height;
        display:flex;
        flex-direction:row;

        .voucher-aside {
            position:relative;
            width: $center-left-width;
            background-color: $center-left-down-bg;
            box-shadow: 2px 0 6px 0 rgba(0,21,41,0.35);
            z-index: 100;
            .title {
                background-color: $center-left-up-bg;
                color:$center-left-color;
                font-size: $center-left-font-size;
                height: $center-left-height;
                line-height: $center-left-height;
                text-align: $center-left-align;
                margin-bottom:$center-left-mb;
                font-weight: $center-left-weight;
            }

            >ul {
                background-color: $center-left-down-bg;
            }
            >ul li.ant-menu-item-selected{
                background-image:$center-left-down-li-bg
            }
            .menu_divider{
                height: 1px;
                padding:2px 15px 6px !important;
                &:hover {
                    cursor:default
                }
                p {
                        margin:0;
                        border-bottom: 1px dashed #979797
                }
            }
        }

        .voucher-section {
            width:$center-right-width;
            background-color: $center-right-bg;
            // position:relative;
            // &:after{
            //     content:'';
            //     width: 10px;
            //     height: 100%;
            //     position: absolute;
            //     left: 0;
            //     top:44px;
            //     background-color: #F0F1F5;  
            // }
            // &:before{
            //     content:'';
            //     width: 10px;
            //     height: 100%;
            //     position: absolute;
            //     right: 0;
            //     top:44px;
            //     background-color: #F0F1F5;  
            // }
        }
    }
}


.right-header {
    min-height: $center-min-height;
    background: $center-right-bg;

    >h2 {
        height: $center-right-up-height;
        line-height: $center-right-up-height;
        margin-bottom: 0;
        background-color: $center-right-div-bg;
        border-bottom: 1px solid $center-border-color;
        font-size: $center-right-up-font-size;
        font-weight: $center-right-up-font-weight;
        color: $center-right-up-color;
        padding-left: $center-right-up-padding-left;
    }

    .spin-center {
        text-align: center;
        margin-top: 160px;
    }
}
//站内信
.no-letter {
    width: 1040px;
    height: 100%;
    margin:10px auto;
    text-align: center;
    background-color: #fff;

    img {
        display: inline-block;
        margin: 72px auto 40px;
    }
    p {
        color:rgba(0,0,0,.25);

        button {
            margin-left: 13px;
        }
    }
}
.letter {
    padding:0 10px;
    height: 691px;
    .table-content {
        background-color: #fff;
        .ant-spin-container{
            height: 625px;
        }
    }

    .letter-title {
        padding: 22px 0 12px;
        overflow: hidden;
        line-height: 32px;
        .del {
            float: right;
            width: 88px;
        }    
    }
    .ant-pagination.ant-table-pagination {
        float: none;
        text-align: center;
        position: absolute;
        bottom: 23px;
        width: 100%
    }
    .ant-table-thead > tr > th {
        font-weight: bold;    
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        padding:12px 16px;    
    }
}
.model-title {
    color: #ff5243;
    font-size: 14px;
    font-weight: 700;
}
.enterContract {
    background-color: rgb(255, 82, 67) !important;
    color: #fff !important;
    padding: 2px 16px;
    margin-left: 10px;
}
.model-p1{
    text-indent: 25px;
}
.model-p2{
    margin-top: 25px;  
}
.model-p3{
    text-align: right;
    color: #4543CB;
    margin-bottom: 0;
}
