.bet-modal-wrapper {
    .item-top {
        font-size: 12px;
        margin: 4px 0;
    }

    .list {
        max-height: 300px;
        overflow-y: auto;
    }

    .item-content {
        padding: 10px;
        background-color: #fafafa;
        border: 1px solid #e0e0e0;
        font-size: 12px;

        .bet-code {
            width: 380px;
        }

        .play-way {
            font-weight: 700;
            color: #c7484a;
        }

        .win {
            color: #c7484a;
        }
    }

    .bottom {
        margin-top: 4px;
        font-size: 14px;
        color: #666;
        font-weight: 400;
        .total {
            font-weight: 700;
            color: #c7484a;
        }
    }
}