.info-mini {
    width: 794px;
    overflow: hidden;
    position: fixed;
    z-index: 88;
    top: 36px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.show {
        opacity: 1;
    }

    .info-mini-wrap {
        width: 794px;
        padding: 0 10px;
        font-size: 12px;
        z-index: 3;
    }

    .info-title-mini {
        width: 136px;
        height: 32px;
        line-height: 32px;
    }

    .info-title-text {
        margin-right: 10px;
        font-weight: 700;
        color: #333;
    }

    .info-title-status {
        display: none;
        color: #999;
    }

    .info-issue-mini {
        width: 250px;
        height: 32px;
        line-height: 32px;
        color: #999;
    }

    .info-issue-mini .current-issue {
        color: #151515;
    }

    .clock-mini {
        color: #c93231;
        font-weight: 700;
    }

    .info-last-mini {
        height: 32px;
        line-height: 32px;
        color: #999;
    }

    .last-mini-text {
        display: inline-block;
        margin-right: 10px;
    }

    .last-mini-text .open-issue {
        color: #151515;
    }

    .open-code-list-mini {
        display: inline-block;
        width: auto;
        height: 32px;
        font-size: 0;
        vertical-align: top;
    }

    .open-code-list-mini li {
        display: inline-block;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        margin-right: 6px;
        margin-bottom: 0;
        border-radius: 50%;
        background-image: linear-gradient(-180deg, #f32b31, #be130e);
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        vertical-align: middle;
    }

    .open-code-list-mini li[lottery-type=pk10] {
        width: 15px;
        height: 20px;
        border-radius: 0;
        background: 0 0;
        font-size: 14px;
        color: #e72629;
    }

    .open-code-list-mini li[lottery-type=lhc] {
        font-size: 12px;
    }

    for i in 1 2 3 4 5 6 {
        .open-code-list-mini li[lottery-type=k3][code={i}] {
            background: url('../../../images/lottery/shai' + i + '.svg') center no-repeat;
            background-size: cover;
            border-radius: 0;
        }
    }
}
