.race-wrapper {
    transition: all 0.5s ease;
    width: 794px;
    overflow: hidden;

    &[lottery='xgpk10'] {
        height: 498px;
    }

    &[lottery='bjpk10'] {
        height: 472px;
    }

    &[lottery='mcpk10'] {
        height: 472px;
    }

    &.hide {
        display: none;
    }

    &.hidden {
        height: 0;
    }
}

body {
    overflow-x: hidden;
}