for i in '01' '02' '03' '04' '05' '06' '07' '08' '09' '10' {
    .opencode[lottery-code=bjpk10][code={'"' + i + '"'}] {
        background: url('../../../../images/lottery/car' + i + '.png') center no-repeat;
        background-size: cover;
    }
}

for i in '01' '02' '03' '04' '05' '06' '07' '08' '09' '10' {
    .opencode[lottery-code=mcpk10][code={'"' + i + '"'}] {
        background: url('../../../../images/lottery/mcpk10kj' + i + '.png') center no-repeat;
        background-size: cover;
    }
}

for i in 1 2 3 4 5 6 {
    .opencode[lottery-type=k3][code={'"' + i + '"'}] {
        background: url('../../../../images/lottery/shai' + i + '.svg') center no-repeat;
        background-size: cover;
        border-radius: 0;
    }
}
