.win-notification-wrapper {
    position: relative;
    z-index: 999999;

    .msg-item {
        background-color: #FFF;
        background-clip: padding-box;
        font-size: 12px;
    }

    .msg-item-title {
        background-color: #fff;
    }

    .msg-item-content {
        color: gray;
        line-height: 1.5;
        margin: 10px auto;
    }

    .msg-item-detail {
        margin: auto;
        background-color: #f24944;
        width: 90px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        border-radius: 2px;
        font-size: 12px;
    }

    .msg-item-content-money {
        color: #f24944;
    }
}