@import '../../_variables.styl'


.voucher-wapper{
    min-height: $content-min-height;
    background: url(../../images/$content-bg-img) no-repeat fixed;
    overflow: hidden;
    .content{
        width: 1200px;
        margin:20px auto;
        overflow: hidden;
        border-radius: 10px;    
    }
}
.router-active-color{
    color:$router-active-color;
}