
absolute-center() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

arrow-top-triangle($height=5px, $color=#515151) {
    border: $height solid transparent;
    border-bottom: $height $color solid;
}

