$body-background-color = #000;
$head-background = #252525;
$head-height = 36px;
$font-family = "PingFang SC","Microsoft YaHei","微软雅黑",Arial,Helvetica,sans-serif;

$center-bg = #333556;            //各中心页背景色
$center-color = #737BF8;         //各中心页文字主体色
$center-min-height = 755px;      //各中心页主体最小高度
$center-border-color = #E8E8E8;    //各中心页 border color

$center-left-width=140px;        //各中心页 左侧 宽
$center-left-up-bg = #383941;    //各中心页 左侧 上 背景色
$center-left-font-size = 18px;   //各中心页 左侧 上 字号
$center-left-color = #fff;       //各中心页 左侧 上 文字颜色
$center-left-height = 64px;      //各中心页 左侧 上 高度
$center-left-align = center;     //各中心页 左侧 上 字体text-align 类型
$center-left-mb = 15px;          //各中心页 左侧 上 margin-bottom 类型
$center-left-weight = bold;      //各中心页 左侧 上 字体weight
$center-left-down-bg = #252525;  //各中心页 左侧 下 背景
$center-left-down-li-bg= linear-gradient(to right,#84CAFF 0%,#737BF8 99%); //各中心页 左侧 下 选中渐变背景

$center-right-width=1060px;      //各中心页 右侧 宽
$center-right-bg = #F0F1F5;      //各中心页 右侧 背景
$center-right-up-height = 64px;  //各中心页 右侧 头部高 非nav
$center-right-up-font-size = 20px;              //各中心页 右侧 头部高 非nav size
$center-right-up-font-weight = bold;            //各中心页 右侧 头部高 非nav weight
$center-right-up-color = rgba(0,0,0,.85);       //各中心页 右侧 头部高 非nav color
$center-right-up-padding-left = 32px;           //各中心页 右侧 头部高 非nav padding-left
$center-right-nav-height = 50px; //各中心页 右侧 头部nav高
$center-right-div-bg = #FFF;     //各中心页 右侧 div 背景

