@import './_variables.styl';
@import './_mixins.styl';

body, #root {
    background-color: $body-background-color;
    font-family: $font-family;
}

.center {
    text-align: center;
}

.absolute-center {
    absolute-center();
}

.animation-paused {
    animation-play-state: paused !important;
}

.fixed {
    position: fixed;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.w500 {
    width: 500px;
}

.pd-l-25 {  padding-left: 25px; }
.pd-r-25 {  padding-right: 25px; }