@import './_variables.styl';
@import './_mixins.styl';

body, #root {
    background-color: $body-background-color;
}

.center {
    text-align: center;
}

.absolute-center {
    absolute-center();
}

.animation-paused {
    animation-play-state: paused !important;
}

.fixed {
    position: fixed;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.w500 {
    width: 500px;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}