@import './_variables.styl';
@import './_mixins.styl';

body,
#root {
  background-color: $body-background-color;
}

.center {
  text-align: center;
}

.absolute-center {
  absolute-center();
}

.animation-paused {
  animation-play-state: paused!important;
}

.fixed {
  position: fixed;
}