.forgetModal
    .ant-modal 
        width 1004px !important
    .ant-modal-content
        .ant-modal-close    
            top 18px
    .ant-modal-header
        text-align center
        height 88px
        .ant-modal-title
            font-size 22px
            line-height 60px
    .ant-modal-body
        height 461px
        background-color #f0f1f5