.trend-wrapper {
    width: 300px;
    border-top: 1px solid #e0e6ed;

    .ant-table-title {
        padding: 0;
        border-radius: 0;
        border-bottom: 1px solid #e0e6ed;
    }

    .ant-table-title + .ant-table-content {
        border-radius: 0;
    }

    .history-trend-title {
        height: 34px;
        line-height: 34px;
        padding: 0 12px 0 9px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #e0e6ed;
    }

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
        padding: 0;
        text-align: center;
    }

    .trend-issue {
        color: #475669;
    }

    .trend-head-col, .trend-codes {
        display: block;
        height: 36px;
        line-height: 36px;
    }

    .trend-head-col {
        color: #a6a6a6;
    }

    .trend-codes .trend-code {
        margin: 0 4px;

        &.active {
            color: #ff740b;
        }
    }

    .history-trend-title-left {
        font-size: 14px;
        color: #333;
        font-weight: 700;
    }

    .history-trend-title-right {
        font-size: 12px;
        color: #666;

        .icon-trend {
            display: inline-block;
            width: 14px;
            height: 15px;
            margin-right: 4px;
            background: url('../../../../images/lottery/new_lottery_common.png') -32px -14px no-repeat;
            vertical-align: text-bottom;
        }
    }

    .shape-item {
        display: inline-block;
        width: 40px;
        white-space: nowrap;
    }

    .shape--hz {
        display: inline-block;
        width: 21px;
        height: 21px;
        line-height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
        position: relative;
        background-color: #f96;
    }

    .shape--zu120 {
        color: #7c4dff;
    }

    .shape--zu60 {
        color: #40c4ff;
    }

    .shape--zu30 {
        color: #00c853;
    }

    .shape--zu24 {
        color: #7c4dff;
    }

    .shape--zu20 {
        color: #ffa000;
    }

    .shape--zu12 {
        color: #40c4ff;
    }

    .shape--zu10 {
        color: #d32f2f;
    }

    .shape--zu6 {
        color: #40c4ff;
    }

    .shape--zu5 {
        color: #8d6e63;
    }

    .shape--zu4 {
        color: #d32f2f;
    }

    .shape--zu3 {
        color: #00c853;
    }

    .shape--da {
        color: red;
    }

    .shape--dan {
        color: red;
    }

    .shape--xiao {
        color: #00f;
    }

    .shape--shuang {
        color: #00f;
    }

    .shape--hu {
        display: inline-block;
        width: 21px;
        height: 21px;
        line-height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
        position: relative;
        background-color: #405bfe;
    }

    .shape--he {
        display: inline-block;
        width: 21px;
        height: 21px;
        line-height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
        position: relative;
        background-color: #0c8c7c;
    }

    .shape--long {
        display: inline-block;
        width: 21px;
        height: 21px;
        line-height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
        position: relative;
        background-color: #ec5446;
    }

    .shape--kd {
        display: inline-block;
        width: 21px;
        height: 21px;
        line-height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
        position: relative;
        background-color: #f96;
    }

    .shape--yidui {
        color: #2962ff;
    }

    .shape--shunzi {
        color: #ffa000;
    }

    .shape--danpai {
        color: #7c4dff;
    }

    .shape--santiao {
        color: #00c853;
    }

    .shape--liangdui {
        color: #40c4ff;
    }

    .shape--sitiao {
        color: #e3e5e4;
    }

    .shape--hulu {
        color: #d32f2f;
    }

    .shape--baozi {
        color: #d32f2f;
    }

    .shape--banshun {
        color: #40c4ff;
    }

    .shape--za6 {
        color: #7c4dff;
    }

    .shape--3th {
        color: #00f;
    }

    .shape--2th {
        color: green;
    }

    .shape--3bt {
        color: purple;
    }

    .shape--num {
        color: orange;
    }

    .shape--niuniu {
        line-height: 20px;
        height: 20px;
        padding: 0 6px;
        border-radius: 10px;
        background-color: #0c8c7c;
        color: #fff;
    }

    .shape--niuda, .shape--niudan {
        color: red;
    }

    .shape--niuxiao, .shape--niushuang {
        color: #00f;
    }

    .shape--zhuang, .shape--xian, .shape--he, .shape--s6 {
        display: inline-block;
        width: 21px;
        height: 21px;
        line-height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
        position: relative;
    }

    .shape--zhuang {
        background-color: #ec5446;
    }

    .shape--he {
        background-color: #0c8c7c;
    }

    .shape--xian {
        background-color: #405bfe;
    }

    .shape--duizi {
        color: #00c853;
    }

    .shape--xiandui {
        display: inline-block;
        width: 26px;
        height: 10px;
        line-height: 12px;
        color: #7688ed;
        transform: scale(0.9);
        position: absolute;
        left: 22px;
        bottom: 0;
    }

    .shape--zhuangdui {
        display: inline-block;
        width: 26px;
        height: 10px;
        line-height: 12px;
        color: #ec5446;
        transform: scale(0.9);
        position: absolute;
        left: 22px;
        top: -2px;
    }
}