.left{
    float: left;
}
.right{
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
@keyframes horse_run {
    0% {background-position: 20px 0;}
    7.14% {background-position: -125px 0;}
    14.28% {background-position: -280px 0;}
    21.42% {background-position: 0px -100px;}
    28.56% {background-position: -155px -100px;}
    35.7% {background-position: -310px -100px;}
    42.84% {background-position: 0px -203.5px;}
    49.98% {background-position: -155px -203.5px;}
    57.12% {background-position: -310px -203.5px;}
    64.26% {background-position: 0px -310px;}
    71.4% {background-position: -150px -310px;}
    78.54% {background-position: -295px -310px;}
    85.68% {background-position: 15px -412px;}
    92.82% {background-position: -135px -412px;}
    100% {background-position: -285px -412px;}
}
.outerHorseWrap{
    height: 498px;
    overflow: hidden;
}
.innerHorseWrap{
    height: 525px;
    width: 800px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}
.horseWrap{
    background: url(../images/horseRoad.png) repeat-x;
    height:306px;
    width: 999999999px;
    position: relative;
    transition: left linear .1s;
    background-position: 0 0;
}
.horse{
    width: 150px;
    height: 99px;
    position: absolute;
    background-position: 25px 0;
    z-index: 1;
}
.horseSky{
    width:999999999px;
    height:98px;
    margin-bottom: -10px;
    background-image: url(../images/horseSky.png);
    background-repeat: repeat-x;
}
.horseLineLeft{
    position: absolute;
    width:11px;
    height:306px;
    left:40px;
    background-image: url(../images/horseLine.png);
    background-repeat: repeat-y;
}
.horseOrders{
    position: absolute;
    left:65px;
    height:306px;
    width: 35px;
    text-align: center;
}
.horseOrders .horseOrder{
    width:100%;
    position: absolute;
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-weight:bold;
}

.horseOrders .horseOrder.horseOrder_10{
    background-color: #8866f6;
    color: #000000;
}
.horseOrders .horseOrder.horseOrder_9{
    background-color: #4e92f9;
    color: #000000;
}
.horseOrders .horseOrder.horseOrder_8{
    background-color: #f87b00;
    color: #000000;
}
.horseOrders .horseOrder.horseOrder_7{
    background-color: #e800fd;
    color: #000000;
}
.horseOrders .horseOrder.horseOrder_6{
    background-color: #212020;
    color: #ffc000;
}
.horseOrders .horseOrder.horseOrder_5{
    background-color: #00d422;
    color: #ffffff;
}
.horseOrders .horseOrder.horseOrder_4{
    background-color: #fbd500;
    color: #1c1a18;
}
.horseOrders .horseOrder.horseOrder_3{
    background-color: #0006ef;
    color: #ffffff;
}
.horseOrders .horseOrder.horseOrder_2{
    background-color: #dcd9d9;
    color: #1c1a18;
}
.horseOrders .horseOrder.horseOrder_1{
    background-color: #ef0404;
    color: #ffffff;
}

.horseLineRight{
    position: absolute;
    width:11px;
    height:306px;
    left:14915px;
    top: 95px;
    background-image: url(../images/horseLine.png);
    background-repeat: repeat-y;
}
.horseQuanWrap{
    overflow: hidden;
    width: 800px;
    height: 404px;
    right: 0;
    position: absolute;
    top: 0;
}
.horseQuan{
    width:160px;
    height:98px;
    position: absolute;
    left: 14840px;
    top:0px;
    background: url(../images/quanquan.png) no-repeat;
}
.hidden{
    display: none!important;
}
.paused {
    animation-play-state: paused!important;
}
.running {
    animation-play-state: running!important;
}
.inline-block{
    display: inline-block;
}
i{
    font-style: normal;
}
.bottomSpace{
    background-color: #0c264f;
    width:800px;
    height:102px;
    line-height:102px;
    margin-top: -2px;
    position: absolute;
    left: 0;
}

.bottomSpace .logoIssue{
    width:20%;
    position: relative;
}
.bottomSpace .rangeNums{
    width:80%;
    margin-top:15px;
    line-height:125px;
    text-align: center;
}
.bottomSpace .horseLogo{
    width: 135px;
    height: 52px;
    position: absolute;
    top: -10px;
    z-index: 1;
}
.bottomSpace .logoIssue .horseIssue{
    border: 1px solid #878c1c;
    height: 50px;
    position: absolute;
    top: 31px;
    width: 100%;
    left: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
}
.bottomSpace .logoIssue .horseIssue .horseIssueTitle{
    position: absolute;
    top: -38px;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.bottomSpace .logoIssue .horseIssue .horseIssueDetail{
    position: absolute;
    top: -15px;
    width: 100%;
    text-align: center;
}
.rangeNum_10,.rangeNum_9,.rangeNum_8,.rangeNum_7,.rangeNum_6,.rangeNum_5,.rangeNum_4,.rangeNum_3,.rangeNum_2,.rangeNum_1{
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: relative;
    margin:0 4px;
}
.rangeNums .rangeNum{
    position: absolute;
    top: -38px;
    left: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #f7f7f7;
}

.horseNum{
    background-image: url(../images/number_h.png);
    background-repeat: no-repeat;
}

.rangeNums .rangeNum_10 .rangeNum{
    left: 12px;
}
.rangeNum_10{
    color: #ffffff;
}
.rangeNum_9{
    color:#1b1a18;
}
.rangeNum_8{
    color: #ffffff;
}
.rangeNum_7{
    color: #1c1a18;
}
.rangeNum_6{
    color: #ffffff;;
}
.rangeNum_5{
    color: #f7c143;;
}
.rangeNum_4{
    color: #1b1a18;
}
.rangeNum_3{
    color: #000000;
}
.rangeNum_2{
    color: #000000;
}
.rangeNum_1{
    color: #000000;
}
.innerHorseWrap .resultDialog{
    position: absolute;
    padding:0 30px;
    width: 440px;
    height: 350px;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -220px;
    transition: 0.5s all ease-out;
    background-color: #0d2753;
    background-image: url(../images/resultLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #6b7050;
    border-radius: 12px;
    display: none;
}
.issueAndDate{
    color: white;
    margin-top:12px;
}
.issueAndDate .andDate{
    font-size:12px;;
}
.resultMiddleContent{
    height: 145px;
    margin-top:25px;
}
.resultMiddleContent .yajunHorse{
    background: #051b34;
    width: 30%;
    text-align: center;
    transform: scale(0.8);
        border-radius: 10%;
}
.resultMiddleContent .guanjunHorse{
    background: #051b34;
    width: 40%;
    text-align: center;
    transform: scale(0.9);
        border-radius: 10%;
}
.resultMiddleContent .jijunHorse{
    background: #051b34;
    width: 30%;
    text-align: center;
    transform: scale(0.8);
        border-radius: 10%;
}
.guanjunHorse .horse1{
    animation: horse_run infinite 450ms forwards step-start;
    background-image: url(../images/horse_1.png);
    width: 150px;
    height: 99px;
    background-size: 512px;
    background-position: 25px 0px;
    transform: scale(0.9);
}
.yajunHorse .horse2{
    animation: horse_run infinite 450ms forwards step-start;
    background-image: url(../images/horse_2.png);
    width: 150px;
    height: 99px;
    background-size: 512px;
    background-position: 25px 0px;
    transform: scale(0.8);
    margin-left: -12%;
}
.jijunHorse .horse3{
    animation: horse_run infinite 450ms forwards step-start;
    background-image: url(../images/horse_3.png);
    width: 150px;
    height: 99px;
    background-size: 512px;
    background-position: 25px 0px;
    transform: scale(0.8);
    margin-left: -12%;
}
.yajunHorse .yajunNum{
    background-image: url(../images/number_h.png);
    vertical-align: middle;
    width: 45px;
    height: 45px;
    background-position: -6px -9px;
}
.guanjunHorse .guanjunNum{
    background-image: url(../images/number_h.png);
    vertical-align: middle;
    width: 45px;
    height: 45px;
    background-position: -6px -9px;
}
.jijunHorse .jijunNum{
    background-image: url(../images/number_h.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    background-position: -6px -9px;
}
.yajunText,.guanjunText,.jijunText{
    vertical-align: middle;
}
.resultOrders  .resultOrder {
    display: inline-block;
    margin: 0 1.2%;
    background-repeat: no-repeat;
    background-image: url(../images/number_h.png);
    background-position: -6px -9px;
    width: 42px;
    height: 45px;
}
.resultOrders {
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 50px;
}
i.resultNum {
    position: relative;
    top: -30px;
    left: -1px;
    display: inline-block;
}
.resultDialog .closeResultDialog {
    position: absolute;
    width: 20px;
    text-align: center;
    background: gray;
    right: 2px;
    top: 2px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.resultDialog .closeResultDialog:hover{
    background: orange;
}